wp-content/themes/gustomaestro/src/blocks/modals/modal-custom-certificate.jade
.modal.fade#modalCustomCertificate(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog.modal-dialog--custom-certificate(role="document")
    .modal-content
      button.close(type="button", data-dismiss="modal", aria-label="Close")
        span(aria-hidden="true") &times;
      .modal-body
        h2.section__subtitle.modal__title.modal__subtitle--big-padding Сертификат на #[.modal__custom-rubles #[span.modal__custom-rubles-result#customRublesResult 5000] #[.modal__custom-rubles-changes #[span.modal__custom-rubles-change.modal__custom-rubles-change--plus#customRublesPlus] #[span.modal__custom-rubles-change.modal__custom-rubles-change--minus#customRublesMinus]]] рублей

        form.modal__form#formCustomCertificate
          input.modal__input(type="text", placeholder="Кому")
          input.modal__input(type="text", placeholder="От кого")
          input.modal__input(type="tel", placeholder="Телефон получателя")
          input.modal__input(type="email", placeholder="E-mail получателя")
          input.modal__input(type="email", placeholder="Ваш E-mail")
          input.btn.modal__submit(type="submit", value="Оплатить и подарить сертификат")
          p.section__text.section__text--small.modal__text--explain После нажатия на кнопку «Записаться и оплатить» вы будете перенаправлены на страницу оплаты ЯНДЕКС.КАССЫ. После оплаты отправим электронные билеты на указанный email.

wp-content/themes/gustomaestro/src/blocks/modals/modal-custom-certificate.html

<div id="modalCustomCertificate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog modal-dialog--custom-certificate">
    <div class="modal-content">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <h2 class="section__subtitle modal__title modal__subtitle--big-padding">Сертификат на 
          <div class="modal__custom-rubles"><span id="customRublesResult" class="modal__custom-rubles-result">5000</span> 
            <div class="modal__custom-rubles-changes"><span id="customRublesPlus" class="modal__custom-rubles-change modal__custom-rubles-change--plus"></span> <span id="customRublesMinus" class="modal__custom-rubles-change modal__custom-rubles-change--minus"></span></div>
          </div> рублей
        </h2>
        <form id="formCustomCertificate" class="modal__form">
          <input type="text" placeholder="Кому" class="modal__input"/>
          <input type="text" placeholder="От кого" class="modal__input"/>
          <input type="tel" placeholder="Телефон получателя" class="modal__input"/>
          <input type="email" placeholder="E-mail получателя" class="modal__input"/>
          <input type="email" placeholder="Ваш E-mail" class="modal__input"/>
          <input type="submit" value="Оплатить и подарить сертификат" class="btn modal__submit"/>
          <p class="section__text section__text--small modal__text--explain">После нажатия на кнопку «Записаться и оплатить» вы будете перенаправлены на страницу оплаты ЯНДЕКС.КАССЫ. После оплаты отправим электронные билеты на указанный email.</p>
        </form>
      </div>
    </div>
  </div>
</div>
