wp-content/themes/gustomaestro/src/blocks/modals/modal-waiting-list.jade
.modal.fade#modalWaitingList(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      button.close(type="button", data-dismiss="modal", aria-label="Close")
        span(aria-hidden="true") &times;
      .modal-body
        h2.section__subtitle.modal__title.modal__subtitle--big-padding Записаться в лист ожидания

        form.modal__form#formWaitingList
          input.modal__input(type="text", placeholder="Имя и Фимилия")
          input.modal__input(type="tel", placeholder="Телефон")
          input.btn.modal__submit(type="submit", value="Записаться")

wp-content/themes/gustomaestro/src/blocks/modals/modal-waiting-list.html

<div id="modalWaitingList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <h2 class="section__subtitle modal__title modal__subtitle--big-padding">Записаться в лист ожидания</h2>
        <form id="formWaitingList" class="modal__form">
          <input type="text" placeholder="Имя и Фимилия" class="modal__input"/>
          <input type="tel" placeholder="Телефон" class="modal__input"/>
          <input type="submit" value="Записаться" class="btn modal__submit"/>
        </form>
      </div>
    </div>
  </div>
</div>
