wp-content/themes/gustomaestro/src/blocks/header/header.jade
// header
header.header
  .section__container.header__container
    nav.main-menu
      ul.main-menu__list.main-menu__list--left
        li.main-menu__item: a(href="workshops.html") Мастер-классы
        li.main-menu__item: a(href="celebration.html") Праздники и корпоративы
        li.main-menu__item: a.active(href="about.html") О школе и поварах
      a.main-menu__logo(href="index.html")
      .menu__btn#openMenu(data-open="false")
        span
        span
        span
      ul.main-menu__list.main-menu__list--right
        li.main-menu__item: a(href="gallery.html") Галерея
        li.main-menu__item: a(href="partners.html") Партнёры
        li.main-menu__item: a(href="blog.html") Блог Фабрицио Фатуччи
        li.main-menu__item: a(href="contacts.html") Контакты
      ul.main-menu__list.main-menu__list--tablet#mobileMenu
        li.main-menu__item: a(href="workshops.html") Мастер-классы
        li.main-menu__item: a(href="celebration.html") Праздники и корпоративы
        li.main-menu__item: a.active(href="about.html") О школе и поварах
        li.main-menu__item: a(href="gallery.html") Галерея
        li.main-menu__item: a(href="partners.html") Партнёры
        li.main-menu__item: a(href="blog.html") Блог Фабрицио Фатуччи
        li.main-menu__item: a(href="contacts.html") Контакты

wp-content/themes/gustomaestro/src/blocks/header/header.html

<!-- header-->
<header class="header">
  <div class="section__container header__container">
    <nav class="main-menu">
      <ul class="main-menu__list main-menu__list--left">
        <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
        <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
        <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
      </ul><a href="index.html" class="main-menu__logo"></a>
      <div id="openMenu" data-open="false" class="menu__btn"><span></span><span></span><span></span></div>
      <ul class="main-menu__list main-menu__list--right">
        <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
        <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
        <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
        <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
      </ul>
      <ul id="mobileMenu" class="main-menu__list main-menu__list--tablet">
        <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
        <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
        <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
        <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
        <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
        <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
        <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
      </ul>
    </nav>
  </div>
</header>
