wp-content/themes/gustomaestro/src/article.jade
doctype html
html(lang="ru")
  - title = "Идеальное блюдо | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    // breadcrumbs
    .breadcrumbs.breadcrumbs--mc-promo
      .section__container.breadcrumbs__container
        ul.section__text.section__text--small.breadcrumbs__list
          li.breadcrumbs__item: a(href="blog.html") Блог шеф-повара
          li.breadcrumbs__item >
          li.breadcrumbs__item.active Идеальное блюдо

    main.main
      .section__container.main__container
        // article
        article.article
          .article__image
            img(src="images/article__promo--preview2.jpg")
          h3.section__subtitle.article__title Идеальное блюдо
          .article__info
            span.section__text.article__text--serif 31 марта 2015
            span.section__text.article__text--serif 3 комментария
          .article__content
            p.section__text.article__text Я часто ошибаюсь. Может быть, из-за моего волнения и возбуждения, которое приходит в момент трансформации идеи и мысли в реальность, может из-за моего желания всегда удивлять, которое часто сильно овладевает мной ( что, несомненно, является признаком незрелости), но часто так бывает, что, создавая новое блюдо, я не всегда остаюсь доволен на 100%. #[br] #[br] Хорошая новость - я отдаю себе в этом отчет все чаще и чаще, и, следовательно, начинаю задавать вопросы и искать на них ответы. Что мне не нравится? Почему мне это не нравится? Что мешает этому блюду быть гармоничным? #[br] #[br] Что ж, давайте вместе попытаемся понять, что входит в «идеальное блюдо»
            h1.section__text.section__text--bold.article__subtitle Во-первых
            p.section__text.article__text В основе любого нового блюда должна лежать идея, мысль, ощущение, ответ на вопрос «Почему я хочу это сделать?»
            h2.section__text.section__text--bold.article__subtitle Во-вторых
            p.section__text.article__text Идея должна подкрепляться технологией. Я не говорю сейчас о новых технологиях приготовления. Я говорю о той технологии, которая дает вам возможность понять, когда наступил момент убрать соус с огня, как разделать рыбу с легкостью и точностью одновременно, в какой момент (ни раньше, ни позже) понять , что румяная баранья котлетка уже готова. Все эти знания, которым ты обучаешься еще будучи юным, с годами и профессиональным опытом ,конечно, влияют на восприятие. Иными словами, с опытом ты «ловишь » момент все чаще. А новейшие технологии в приготовлении, суперсовременные плиты помогают превратить продукты во что – то съедобное.
            img(src="images/article__promo--preview1.jpg", alt="")
            h3.section__text.section__text--bold.article__subtitle В-третьих
            p.section__text.article__text Необходим личный опыт вкусовых ощущений. Что, вплоть до сегодняшнего дня, я успел попробовать? Что мне понравилось? Что мне не понравилось? Что и кто меня вдохновляет и откуда все берет свое начало?
            h4.section__text.section__text--bold.article__subtitle В-четвертых
            p.section__text.article__text Кто я? Может показаться странным, задавать себе такой вопрос, когда ты создаешь новое блюдо…. Но если блюдо рождается из идеи, за этой идеей всегда стоит конкретный человек со своей историей, со своим жизненным опытом, со своими воспоминаниями, проблемами… со своим душевным состоянием. Поверьте мне, это является самым важным в процессе создания, ответ на вопрос «Почему я хочу это сделать?»
            h5.section__text.section__text--bold.article__subtitle В-пятых
            p.section__text.article__text Где ты? Это тоже фундаментальный вопрос. Кухня (в широком смысле этого слова), которая является сильным стимулом живого креативного замысла, сильно связана с местом, где она существует. Все ингредиенты должны быть свежие, «живые». Недавно я был в Италии в небольшом гастрономическом магазине в одной из деревенек на Юге. Многие рассмеются, читая мои следующие слова, но оглядываясь по сторонам, я чувствовал, будто определенные ингредиенты разговаривали со мной, прося взять их с собой. Можете смеяться, но я клянусь, что было именно так, и я вам больше скажу – я к ним прислушался! Я купил их, соединил вместе и из них получилось то, что я называю «идеальным блюдом».
            h6.section__text.section__text--bold.article__subtitle В-шестых
            p.section__text.article__text В основе любого нового блюда должна лежать идея, мысль, ощущение, ответ на вопрос «Почему я хочу это сделать?»
            blockquote.article__blockquote
              p.section__text.article__text Итак, эти ингредиенты: 1. Домашняя паста ручной работы из Граньяно ( Pasta artigianale di Gragnano) от фабрики, которая сама выращивает био зерно, перемалывает его по старинному обычаю в мельницах с жерновами из камня, замешивает на чистейшей воде из Везувийского родника, пропускает готовое тесто через бронзовый станок и строго выдерживает время и температурный режим высушивания. 2 Менакийские анчоусы в соли ( Alice di Menaica), которые ловят в течение дня в спокойном море с Апреля по Июль. Этот старинный вид рыбалки еще практикуется у некоторых рыбаков. Его особенность в специальных сетях, которые называются «менайки». Эта сеть захватывает только больших особей, которые ,метаются внутри сети и в нервном напряжении в очень короткое время теряют большую часть своей крови. На борту их сразу же чистят, полощут в морской воде и помещают в глиняные терракотовые горшки, посыпая морской солью из Трипани.3. Буйволиное масло ( burro di bufala) от Agricola Vannullo. Тот, кто не знает Антонио Пальмьери (Antonio Palmieri) и Agricola Vannullo не достоин того, чтобы читать дальше?
          // share
          .share
            span.section__text.share__title Поделиться:
            ul.share__list
              li.share__item
                a.share__item--facebook(href="#") Facebook
              li.share__item
                a.share__item--twitter(href="#") Twitter
              li.share__item
                a.share__item--mail(href="#") Мой мир
              li.share__item
                a.share__item--vk(href="#") Вконтакте
              li.share__item
                a.share__item--google(href="#") Google+

          // other-posts
          .other-posts
            h2.section__subtitle.other-posts__title Советуем прочесть
            ul.other-posts__list
              li.other-posts__item: a(href="#")
                .other-posts__image
                  img(src="images/article__promo--preview1.jpg", alt="")
                a.link.other-posts__link(href="#") Кажется, будто это было вчера, а прошёл уже целый год!
              li.other-posts__item: a(href="#")
                .other-posts__image
                  img(src="images/article__promo--preview2.jpg", alt="")
                a.link.other-posts__link(href="#") Россия не для всех!

          // comments
          .comments
            h2.section__subtitle.comments__title Комментарии | 3
            ul.comments__list
              li.comments__item
                .comments__image
                  img(src="images/comment-author__image1.jpg", alt="")
                .comments__content
                  .comments__info
                    ul.section__text.comments__info-list
                      li.comments__info-item Sofia
                      li.comments__info-item 14 ноября 2014
                      li.comments__info-item 13:43
                  p.section__text.section__text--small.comments__text The review is good as aalyws telling about the theme and at the same time not telling the story eventually creating interest to watch the movie. But one thing to correct - cast in Dil chahta hai is "Akshay khanna" not Rahul apart from Aamir & saif -Purnima
              li.comments__item
                .comments__image
                  img(src="images/comment-author__image2.jpg", alt="")
                .comments__content
                  .comments__info
                    ul.section__text.comments__info-list
                      li.comments__info-item Udin
                      li.comments__info-item 17 ноября 2014
                      li.comments__info-item 21:58
                  p.section__text.section__text--small.comments__text Dear friend,I saw the blog. It is very nice, can u pl tell me what is the comirecmal benefit of running this?mail your reply when free, and if you like to reply. my mail id is callmesrk@gmail.com.RegardsRavi.S http://xhzfwrluji.com [url=http://ibabtw.com]ibabtw[/url] [link=http://lscklxamj.com]lscklxamj[/link]
              li.comments__item
                .comments__image
                  img(src="images/comment-author__image3.jpg", alt="")
                .comments__content
                  .comments__info
                    ul.section__text.comments__info-list
                      li.comments__info-item Kim
                      li.comments__info-item 19 ноября 2014
                      li.comments__info-item 19:19
                  p.section__text.section__text--small.comments__text Dear friend,I saw the blog. It is very nice, can u pl tell me what is the comirecmal benefit of running this?mail your reply when free, and if you like to reply. my mail id is callmesrk@gmail.com.RegardsRavi.S http://xhzfwrluji.com [url=http://ibabtw.com]ibabtw[/url] [link=http://lscklxamj.com]lscklxamj[/link]

            .comments__write
              h2.section__subtitle.comments__write-title Оставьте свой комментарий
              form.comments__form
                .comments__inputs-wrapper
                  .comments__inputs
                    input.comments__input(type="text", placeholder="Имя")
                    input.comments__input(type="tel", placeholder="Телефон")
                    input.comments__input(type="email", placeholder="E-mail")
                  .comments__inputs.comments__inputs--large
                    textarea.comments__textarea(placeholder="Комментарий")
                .comments__submits
                  a.section__text.link.comments__attach(href="#") Загрузить свою фотографию
                  input.btn.comments__submit(type="submit", value="Отправить комментарий")

        // aside
        aside.aside
          .aside__about-chief
            h3.section__subtitle.aside__title Фабрицио Фаттучи
            p.section__text.aside__text Приходя в «Gusto», Вы попадаете в гости к знаменитому шеф-повару из Италии Фабрицио Фатуччи. Искусство готовить, по версии мэтра, – это, прежде всего, чувства, эмоции и настроение, которые можно подарить другим. В поисках этих главных ингредиентов, уроженец Рима, он объездил всю Италию. Впитал ароматы Тосканы, Сицилии, Неаполя, и наполнил ими свои блюда. Его кредо - импровизация с душой. Отточив мастерство в десятках лучших заведений, от лондонского гранд-отеля «Savoy» до московского «Forbes», в Петербурге Фабрицио осуществил свою мечту – о «живом» и «тёплом» ресторане, где гости чувствуют себя как дома [...]
            a.section__text.link.aside__link(href="#") Подробнее о Фабрицио

          .aside__popular
            h3.section__subtitle.aside__title Чаще всего читают
            ul.aside__list.section__text
              li.aside__item: a.link(href="#") Россия не для всех
              li.aside__item: a.link(href="#") Кажется, будто это было вчера, а прошёл уже целый год!
              li.aside__item: a.link(href="#") Фабрицио Фатуччи об эстетике формы и цвета
              li.aside__item: a.link(href="#") «Яичница-болтунья»
              li.aside__item: a.link(href="#") В гостях у Пятого канала
          .aside__subscribe
            p.aside__subscribe-text Подписка на группу вконтакте
          .aside__subscribe
            p.aside__subscribe-text Подписка Facebook

    include blocks/footer/footer

wp-content/themes/gustomaestro/src/article.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Идеальное блюдо | GUSTOMAESTRO</title>
    <meta name="description" content="">
    <meta name="application-name" content="True">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <link rel="apple-touch-icon" href="img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/touch-icon-ipad-retina.png">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css"><!-- build:css -->
    <link rel="stylesheet" href="css/main.css"><!-- endbuild -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body><!--[if IE 8]>
    <p>Вы используете <strong>устаревшую версию</strong> браузера. Пожалуйста, <a href="http://browsehappy.com/">обновите браузер</a> на официальном сайте, чтобы просматривать полную версию сайта.</p><![endif]-->
    <!-- top-panel-->
    <section class="top-panel">
      <div class="section__container top-panel__container">
        <ul class="top-panel__social-list">
          <li class="top-panel__social-item"><a target="_blank" href="http://www.gustomaestro.ru/feed.php" class="top-panel__social-item--rss"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://vk.com/gustomaestro" class="top-panel__social-item--vk"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://www.facebook.com/gustospb?ref=hl" class="top-panel__social-item--facebook"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://www.instagram.com/gustorestaurant/" class="top-panel__social-item--instagram"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="http://goo.gl/Ra2iEb" class="top-panel__social-item--tripadvisor"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://goo.gl/WMmoKW" class="top-panel__social-item--foursquare"></a></li>
        </ul>
        <ul class="section__text section__text--small top-panel__contacts-list">
          <li class="top-panel__contacts-item top-panel__contacts-item--phone"><a target="_blank" href="tel:78129033732">(812) 903 37 32</a></li>
          <li class="top-panel__contacts-item top-panel__contacts-item--address">Санкт-Петербург, Дегтярная ул., 1</li>
        </ul>
      </div>
    </section>
    <!-- header-->
    <header class="header">
      <div class="section__container header__container">
        <nav class="main-menu">
          <ul class="main-menu__list main-menu__list--left">
            <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
            <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
          </ul><a href="index.html" class="main-menu__logo"></a>
          <div id="openMenu" data-open="false" class="menu__btn"><span></span><span></span><span></span></div>
          <ul class="main-menu__list main-menu__list--right">
            <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
            <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
            <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
            <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <ul id="mobileMenu" class="main-menu__list main-menu__list--tablet">
            <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
            <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
            <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
            <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
            <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
            <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- breadcrumbs-->
    <div class="breadcrumbs breadcrumbs--mc-promo">
      <div class="section__container breadcrumbs__container">
        <ul class="section__text section__text--small breadcrumbs__list">
          <li class="breadcrumbs__item"><a href="blog.html">Блог шеф-повара</a></li>
          <li class="breadcrumbs__item">></li>
          <li class="breadcrumbs__item active">Идеальное блюдо</li>
        </ul>
      </div>
    </div>
    <main class="main">
      <div class="section__container main__container">
        <!-- article-->
        <article class="article">
          <div class="article__image"><img src="images/article__promo--preview2.jpg"></div>
          <h3 class="section__subtitle article__title">Идеальное блюдо</h3>
          <div class="article__info"><span class="section__text article__text--serif">31 марта 2015</span><span class="section__text article__text--serif">3 комментария</span></div>
          <div class="article__content">
            <p class="section__text article__text">Я часто ошибаюсь. Может быть, из-за моего волнения и возбуждения, которое приходит в момент трансформации идеи и мысли в реальность, может из-за моего желания всегда удивлять, которое часто сильно овладевает мной ( что, несомненно, является признаком незрелости), но часто так бывает, что, создавая новое блюдо, я не всегда остаюсь доволен на 100%. <br> <br> Хорошая новость - я отдаю себе в этом отчет все чаще и чаще, и, следовательно, начинаю задавать вопросы и искать на них ответы. Что мне не нравится? Почему мне это не нравится? Что мешает этому блюду быть гармоничным? <br> <br> Что ж, давайте вместе попытаемся понять, что входит в «идеальное блюдо»</p>
            <h1 class="section__text section__text--bold article__subtitle">Во-первых</h1>
            <p class="section__text article__text">В основе любого нового блюда должна лежать идея, мысль, ощущение, ответ на вопрос «Почему я хочу это сделать?»</p>
            <h2 class="section__text section__text--bold article__subtitle">Во-вторых</h2>
            <p class="section__text article__text">Идея должна подкрепляться технологией. Я не говорю сейчас о новых технологиях приготовления. Я говорю о той технологии, которая дает вам возможность понять, когда наступил момент убрать соус с огня, как разделать рыбу с легкостью и точностью одновременно, в какой момент (ни раньше, ни позже) понять , что румяная баранья котлетка уже готова. Все эти знания, которым ты обучаешься еще будучи юным, с годами и профессиональным опытом ,конечно, влияют на восприятие. Иными словами, с опытом ты «ловишь » момент все чаще. А новейшие технологии в приготовлении, суперсовременные плиты помогают превратить продукты во что – то съедобное.</p><img src="images/article__promo--preview1.jpg" alt="">
            <h3 class="section__text section__text--bold article__subtitle">В-третьих</h3>
            <p class="section__text article__text">Необходим личный опыт вкусовых ощущений. Что, вплоть до сегодняшнего дня, я успел попробовать? Что мне понравилось? Что мне не понравилось? Что и кто меня вдохновляет и откуда все берет свое начало?</p>
            <h4 class="section__text section__text--bold article__subtitle">В-четвертых</h4>
            <p class="section__text article__text">Кто я? Может показаться странным, задавать себе такой вопрос, когда ты создаешь новое блюдо…. Но если блюдо рождается из идеи, за этой идеей всегда стоит конкретный человек со своей историей, со своим жизненным опытом, со своими воспоминаниями, проблемами… со своим душевным состоянием. Поверьте мне, это является самым важным в процессе создания, ответ на вопрос «Почему я хочу это сделать?»</p>
            <h5 class="section__text section__text--bold article__subtitle">В-пятых</h5>
            <p class="section__text article__text">Где ты? Это тоже фундаментальный вопрос. Кухня (в широком смысле этого слова), которая является сильным стимулом живого креативного замысла, сильно связана с местом, где она существует. Все ингредиенты должны быть свежие, «живые». Недавно я был в Италии в небольшом гастрономическом магазине в одной из деревенек на Юге. Многие рассмеются, читая мои следующие слова, но оглядываясь по сторонам, я чувствовал, будто определенные ингредиенты разговаривали со мной, прося взять их с собой. Можете смеяться, но я клянусь, что было именно так, и я вам больше скажу – я к ним прислушался! Я купил их, соединил вместе и из них получилось то, что я называю «идеальным блюдом».</p>
            <h6 class="section__text section__text--bold article__subtitle">В-шестых</h6>
            <p class="section__text article__text">В основе любого нового блюда должна лежать идея, мысль, ощущение, ответ на вопрос «Почему я хочу это сделать?»</p>
            <blockquote class="article__blockquote">
              <p class="section__text article__text">Итак, эти ингредиенты: 1. Домашняя паста ручной работы из Граньяно ( Pasta artigianale di Gragnano) от фабрики, которая сама выращивает био зерно, перемалывает его по старинному обычаю в мельницах с жерновами из камня, замешивает на чистейшей воде из Везувийского родника, пропускает готовое тесто через бронзовый станок и строго выдерживает время и температурный режим высушивания. 2 Менакийские анчоусы в соли ( Alice di Menaica), которые ловят в течение дня в спокойном море с Апреля по Июль. Этот старинный вид рыбалки еще практикуется у некоторых рыбаков. Его особенность в специальных сетях, которые называются «менайки». Эта сеть захватывает только больших особей, которые ,метаются внутри сети и в нервном напряжении в очень короткое время теряют большую часть своей крови. На борту их сразу же чистят, полощут в морской воде и помещают в глиняные терракотовые горшки, посыпая морской солью из Трипани.3. Буйволиное масло ( burro di bufala) от Agricola Vannullo. Тот, кто не знает Антонио Пальмьери (Antonio Palmieri) и Agricola Vannullo не достоин того, чтобы читать дальше?</p>
            </blockquote>
          </div>
          <!-- share-->
          <div class="share"><span class="section__text share__title">Поделиться:</span>
            <ul class="share__list">
              <li class="share__item"><a href="#" class="share__item--facebook">Facebook</a></li>
              <li class="share__item"><a href="#" class="share__item--twitter">Twitter</a></li>
              <li class="share__item"><a href="#" class="share__item--mail">Мой мир</a></li>
              <li class="share__item"><a href="#" class="share__item--vk">Вконтакте</a></li>
              <li class="share__item"><a href="#" class="share__item--google">Google+</a></li>
            </ul>
          </div>
          <!-- other-posts-->
          <div class="other-posts">
            <h2 class="section__subtitle other-posts__title">Советуем прочесть</h2>
            <ul class="other-posts__list">
              <li class="other-posts__item"><a href="#">
                  <div class="other-posts__image"><img src="images/article__promo--preview1.jpg" alt=""></div><a href="#" class="link other-posts__link">Кажется, будто это было вчера, а прошёл уже целый год!</a></a></li>
              <li class="other-posts__item"><a href="#">
                  <div class="other-posts__image"><img src="images/article__promo--preview2.jpg" alt=""></div><a href="#" class="link other-posts__link">Россия не для всех!</a></a></li>
            </ul>
          </div>
          <!-- comments-->
          <div class="comments">
            <h2 class="section__subtitle comments__title">Комментарии | 3</h2>
            <ul class="comments__list">
              <li class="comments__item">
                <div class="comments__image"><img src="images/comment-author__image1.jpg" alt=""></div>
                <div class="comments__content">
                  <div class="comments__info">
                    <ul class="section__text comments__info-list">
                      <li class="comments__info-item">Sofia</li>
                      <li class="comments__info-item">14 ноября 2014</li>
                      <li class="comments__info-item">13:43</li>
                    </ul>
                  </div>
                  <p class="section__text section__text--small comments__text">The review is good as aalyws telling about the theme and at the same time not telling the story eventually creating interest to watch the movie. But one thing to correct - cast in Dil chahta hai is "Akshay khanna" not Rahul apart from Aamir & saif -Purnima</p>
                </div>
              </li>
              <li class="comments__item">
                <div class="comments__image"><img src="images/comment-author__image2.jpg" alt=""></div>
                <div class="comments__content">
                  <div class="comments__info">
                    <ul class="section__text comments__info-list">
                      <li class="comments__info-item">Udin</li>
                      <li class="comments__info-item">17 ноября 2014</li>
                      <li class="comments__info-item">21:58</li>
                    </ul>
                  </div>
                  <p class="section__text section__text--small comments__text">Dear friend,I saw the blog. It is very nice, can u pl tell me what is the comirecmal benefit of running this?mail your reply when free, and if you like to reply. my mail id is callmesrk@gmail.com.RegardsRavi.S http://xhzfwrluji.com [url=http://ibabtw.com]ibabtw[/url] [link=http://lscklxamj.com]lscklxamj[/link]</p>
                </div>
              </li>
              <li class="comments__item">
                <div class="comments__image"><img src="images/comment-author__image3.jpg" alt=""></div>
                <div class="comments__content">
                  <div class="comments__info">
                    <ul class="section__text comments__info-list">
                      <li class="comments__info-item">Kim</li>
                      <li class="comments__info-item">19 ноября 2014</li>
                      <li class="comments__info-item">19:19</li>
                    </ul>
                  </div>
                  <p class="section__text section__text--small comments__text">Dear friend,I saw the blog. It is very nice, can u pl tell me what is the comirecmal benefit of running this?mail your reply when free, and if you like to reply. my mail id is callmesrk@gmail.com.RegardsRavi.S http://xhzfwrluji.com [url=http://ibabtw.com]ibabtw[/url] [link=http://lscklxamj.com]lscklxamj[/link]</p>
                </div>
              </li>
            </ul>
            <div class="comments__write">
              <h2 class="section__subtitle comments__write-title">Оставьте свой комментарий</h2>
              <form class="comments__form">
                <div class="comments__inputs-wrapper">
                  <div class="comments__inputs">
                    <input type="text" placeholder="Имя" class="comments__input">
                    <input type="tel" placeholder="Телефон" class="comments__input">
                    <input type="email" placeholder="E-mail" class="comments__input">
                  </div>
                  <div class="comments__inputs comments__inputs--large">
                    <textarea placeholder="Комментарий" class="comments__textarea"></textarea>
                  </div>
                </div>
                <div class="comments__submits"><a href="#" class="section__text link comments__attach">Загрузить свою фотографию</a>
                  <input type="submit" value="Отправить комментарий" class="btn comments__submit">
                </div>
              </form>
            </div>
          </div>
        </article>
        <!-- aside-->
        <aside class="aside">
          <div class="aside__about-chief">
            <h3 class="section__subtitle aside__title">Фабрицио Фаттучи</h3>
            <p class="section__text aside__text">Приходя в «Gusto», Вы попадаете в гости к знаменитому шеф-повару из Италии Фабрицио Фатуччи. Искусство готовить, по версии мэтра, – это, прежде всего, чувства, эмоции и настроение, которые можно подарить другим. В поисках этих главных ингредиентов, уроженец Рима, он объездил всю Италию. Впитал ароматы Тосканы, Сицилии, Неаполя, и наполнил ими свои блюда. Его кредо - импровизация с душой. Отточив мастерство в десятках лучших заведений, от лондонского гранд-отеля «Savoy» до московского «Forbes», в Петербурге Фабрицио осуществил свою мечту – о «живом» и «тёплом» ресторане, где гости чувствуют себя как дома [...]</p><a href="#" class="section__text link aside__link">Подробнее о Фабрицио</a>
          </div>
          <div class="aside__popular">
            <h3 class="section__subtitle aside__title">Чаще всего читают</h3>
            <ul class="aside__list section__text">
              <li class="aside__item"><a href="#" class="link">Россия не для всех</a></li>
              <li class="aside__item"><a href="#" class="link">Кажется, будто это было вчера, а прошёл уже целый год!</a></li>
              <li class="aside__item"><a href="#" class="link">Фабрицио Фатуччи об эстетике формы и цвета</a></li>
              <li class="aside__item"><a href="#" class="link">«Яичница-болтунья»</a></li>
              <li class="aside__item"><a href="#" class="link">В гостях у Пятого канала</a></li>
            </ul>
          </div>
          <div class="aside__subscribe">
            <p class="aside__subscribe-text">Подписка на группу вконтакте</p>
          </div>
          <div class="aside__subscribe">
            <p class="aside__subscribe-text">Подписка Facebook</p>
          </div>
        </aside>
      </div>
    </main>
    <!-- footer-->
    <div class="footer">
      <div class="section__container footer__container">
        <div class="footer__logo"></div>
        <nav class="footer__menu">
          <ul class="footer__list">
            <li class="footer__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="footer__item"><a href="celebration.html" class="active">Праздники и корпоративы</a></li>
            <li class="footer__item"><a href="about.html">О школе и поварах</a></li>
            <li class="footer__item"><a href="gallery.html">Галерея</a></li>
            <li class="footer__item"><a href="partners.html">Партнёры</a></li>
            <li class="footer__item"><a href="blog.html">Блог шеф-повара</a></li>
            <li class="footer__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <ul class="footer__labels">
            <li class="footer__labels-item">Copyright © 2015 GUSTOMAESTRO</li>
            <li class="footer__labels-item">Сделано в Astralite</li>
          </ul>
        </nav>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><!-- build:js -->
    <script src="js/util.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/main.js"></script><!-- endbuild -->
  </body>
</html>
