wp-content/themes/gustomaestro/src/celebration.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Праздники и корпоративы | GUSTOMAESTRO</title>
    <meta name="description" content="">
    <meta name="application-name" content="True">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <link rel="apple-touch-icon" href="img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/touch-icon-ipad-retina.png">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css"><!-- build:css -->
    <link rel="stylesheet" href="css/main.css"><!-- endbuild -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body><!--[if IE 8]>
    <p>Вы используете <strong>устаревшую версию</strong> браузера. Пожалуйста, <a href="http://browsehappy.com/">обновите браузер</a> на официальном сайте, чтобы просматривать полную версию сайта.</p><![endif]-->
    <!-- top-panel-->
    <section class="top-panel">
      <div class="section__container top-panel__container">
        <ul class="top-panel__social-list">
          <li class="top-panel__social-item"><a target="_blank" href="http://www.gustomaestro.ru/feed.php" class="top-panel__social-item--rss"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://vk.com/gustomaestro" class="top-panel__social-item--vk"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://www.facebook.com/gustospb?ref=hl" class="top-panel__social-item--facebook"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://www.instagram.com/gustorestaurant/" class="top-panel__social-item--instagram"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="http://goo.gl/Ra2iEb" class="top-panel__social-item--tripadvisor"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://goo.gl/WMmoKW" class="top-panel__social-item--foursquare"></a></li>
        </ul>
        <ul class="section__text section__text--small top-panel__contacts-list">
          <li class="top-panel__contacts-item top-panel__contacts-item--phone"><a target="_blank" href="tel:78129033732">(812) 903 37 32</a></li>
          <li class="top-panel__contacts-item top-panel__contacts-item--address">Санкт-Петербург, Дегтярная ул., 1</li>
        </ul>
      </div>
    </section>
    <!-- header-->
    <header class="header">
      <div class="section__container header__container">
        <nav class="main-menu">
          <ul class="main-menu__list main-menu__list--left">
            <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
            <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
          </ul><a href="index.html" class="main-menu__logo"></a>
          <div id="openMenu" data-open="false" class="menu__btn"><span></span><span></span><span></span></div>
          <ul class="main-menu__list main-menu__list--right">
            <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
            <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
            <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
            <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <ul id="mobileMenu" class="main-menu__list main-menu__list--tablet">
            <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
            <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
            <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
            <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
            <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
            <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <!-- promo-->
      <section class="promo promo--celebration">
        <div class="section__container promo__container">
          <h1 class="section__header promo__title">Праздники и корпоративы</h1>
        </div>
      </section>
      <!-- two-col-text-->
      <div class="two-col-text two-col-text--small-padding">
        <div class="section__container two-col-text__container">
          <p class="section__text two-col-text__text">Кулинарная школа GUSTOMAESTRO – это ещё и особая площадка для презентаций, корпоративных и личных праздников. Здесь можно оригинально отметить важное событие, устроить кулинарный поединок в рамках тимблидинга или провести встречу с партнерами и прессой в неформальной обстановке.</p>
          <p class="section__text two-col-text__text">Все заботы по приготовлению не только мастер- класса, но и всего мероприятия мы возьмем на себя- организуем фуршет, пригласим диджэея, украсим кулинарную школу цветами или шариками, привлечем аниматоров, фокусников,артистов, подготовим сувенирную продукцию, организуем награждение победителей дипломами.</p>
        </div>
      </div>
      <!-- celebration-services-->
      <section class="celebration-services">
        <div class="section__container celebration-services__container">
          <ul class="celebration-services__list">
            <li class="celebration-services__item">
              <h3 class="section__subtitle celebration-services__title">Корпоративные мероприятия</h3>
              <div class="celebration-services__content">
                <p class="section__text celebration-services__text">На корпоративных мероприятиях вы сами сможете выбрать что ваша команда приготовит вместе с шеф - поваром, это может быть абсолютно любое блюдо! Одно, два или три блюда? Домашняя итальянская,изысканная французская, острая азиатская или привычная русская кухня? Можно разделить компанию на команды и каждая сможет сделать по одному блюду на всех, а может быть, на 8 марта, мужчины приготовят дамам торт , а дамы в это время будут заняты миксологией и созданием уникальных коктейлей? В мастер-классе могут принимать участие от 6 до 60 человек.</p><a href="#" class="section__text link">Посмотреть свободные даты</a>
              </div>
              <div class="celebration-services__offer">
                <ul class="section__text celebration-services__service-list">
                  <li class="celebration-services__service-item">кулинарные мастер-классы</li>
                  <li class="celebration-services__service-item">презентации</li>
                  <li class="celebration-services__service-item">кулинарные поединки</li>
                  <li class="celebration-services__service-item">показательные мастер-классы</li>
                  <li class="celebration-services__service-item">званые ужины</li>
                  <li class="celebration-services__service-item">дегустации</li>
                </ul><a href="#" class="btn btn--large celebration-services__btn">Заказать</a>
              </div>
            </li>
            <li class="celebration-services__item">
              <h3 class="section__subtitle celebration-services__title">Личные праздники</h3>
              <div class="celebration-services__content">
                <p class="section__text celebration-services__text">На дне рождения в кулинарной школе GUSTOMAESTRO можно собрать всех друзей и близких, вместе приготовить праздничное угощение, поучаствовать в веселых конкурсах, получить заряд хорошего настроения, а наш администратор с радостью заснимет все на фотокамеру и фотографии буду служить отличным напоминанием об оригинальном дне рождения!</p><a href="#" class="section__text link">Посмотреть свободные даты</a>
              </div>
              <div class="celebration-services__offer">
                <ul class="section__text celebration-services__service-list">
                  <li class="celebration-services__service-item">детские и взрослые дни рождения</li>
                  <li class="celebration-services__service-item">годовщины</li>
                  <li class="celebration-services__service-item">девичники</li>
                </ul><a href="#" class="btn btn--large celebration-services__btn">Заказать</a>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- celebration-events-->
      <section class="celebration-events">
        <div class="section__container celebration-events__container">
          <h3 class="section__subtitle celebration-events__title">Организуем мероприятия</h3>
          <ul class="celebration-events__list">
            <li class="celebration-events__item">
              <div class="celebration-events__text"><span class="section__title celebration-events__item-title">Для взрослых</span></div><a href="event.html"></a><img src="images/event__promo--preview1.jpg" alt="">
            </li>
            <li class="celebration-events__item">
              <div class="celebration-events__text"><span class="section__title celebration-events__item-title">Для детей</span></div><a href="event.html"></a><img src="images/event__promo--preview2.jpg" alt="">
            </li>
          </ul>
        </div>
      </section>
      <!-- contacts-->
      <div class="contacts">
        <div class="contacts__map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.1122120570753!2d30.367897016222162!3d59.93028016973474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631bbf5f15f89%3A0x906cc43464858c52!2z0JTQtdCz0YLRj9GA0L3QsNGPINGD0LsuLCAxLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMDM2!5e0!3m2!1sru!2sru!4v1468303020570" width="800" height="410" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="contacts__content">
          <h2 class="section__title contacts__title">Как нас найти</h2><span class="section__text contacts__span">Санкт-Петербург, Дегтярная ул., 1</span><span class="section__text contacts__span">(812) 903 37 32</span>
          <p class="section__text section__text--small contacts__text">Наши гости могут припарковаться во внутреннем дворе ресторана. Въезд во двор расположен перед зданием ресторана от Невского пр. При въезде во двор, пожалуйста, позвоните по телефону (812) 941 17 44</p>
          <ul class="contacts__social-list">
            <li class="contacts__social-item"><a target="_blank" href="http://www.gustomaestro.ru/feed.php" class="contacts__social-item--rss"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://vk.com/gustomaestro" class="contacts__social-item--vk"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://www.facebook.com/gustospb?ref=hl" class="contacts__social-item--facebook"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://www.instagram.com/gustorestaurant/" class="contacts__social-item--instagram"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="http://goo.gl/Ra2iEb" class="contacts__social-item--tripadvisor"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://goo.gl/WMmoKW" class="contacts__social-item--foursquare"></a></li>
          </ul>
        </div>
      </div>
    </main>
    <!-- footer-->
    <div class="footer">
      <div class="section__container footer__container">
        <div class="footer__logo"></div>
        <nav class="footer__menu">
          <ul class="footer__list">
            <li class="footer__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="footer__item"><a href="celebration.html" class="active">Праздники и корпоративы</a></li>
            <li class="footer__item"><a href="about.html">О школе и поварах</a></li>
            <li class="footer__item"><a href="gallery.html">Галерея</a></li>
            <li class="footer__item"><a href="partners.html">Партнёры</a></li>
            <li class="footer__item"><a href="blog.html">Блог шеф-повара</a></li>
            <li class="footer__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <ul class="footer__labels">
            <li class="footer__labels-item">Copyright © 2015 GUSTOMAESTRO</li>
            <li class="footer__labels-item">Сделано в Astralite</li>
          </ul>
        </nav>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><!-- build:js -->
    <script src="js/util.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/main.js"></script><!-- endbuild -->
  </body>
</html>

wp-content/themes/gustomaestro/src/celebration.jade
doctype html
html(lang="ru")
  - title = "Праздники и корпоративы | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main
      // promo
      section.promo.promo--celebration
        .section__container.promo__container
          h1.section__header.promo__title Праздники и корпоративы

      // two-col-text
      .two-col-text.two-col-text--small-padding
        .section__container.two-col-text__container
          p.section__text.two-col-text__text Кулинарная школа GUSTOMAESTRO – это ещё и особая площадка для презентаций, корпоративных и личных праздников. Здесь можно оригинально отметить важное событие, устроить кулинарный поединок в рамках тимблидинга или провести встречу с партнерами и прессой в неформальной обстановке.
          p.section__text.two-col-text__text Все заботы по приготовлению не только мастер- класса, но и всего мероприятия мы возьмем на себя- организуем фуршет, пригласим диджэея, украсим кулинарную школу цветами или шариками, привлечем аниматоров, фокусников,артистов, подготовим сувенирную продукцию, организуем награждение победителей дипломами.

      // celebration-services
      section.celebration-services
        .section__container.celebration-services__container
          ul.celebration-services__list
            li.celebration-services__item
              h3.section__subtitle.celebration-services__title Корпоративные мероприятия
              .celebration-services__content
                p.section__text.celebration-services__text На корпоративных мероприятиях вы сами сможете выбрать что ваша команда приготовит вместе с шеф - поваром, это может быть абсолютно любое блюдо! Одно, два или три блюда? Домашняя итальянская,изысканная французская, острая азиатская или привычная русская кухня? Можно разделить компанию на команды и каждая сможет сделать по одному блюду на всех, а может быть, на 8 марта, мужчины приготовят дамам торт , а дамы в это время будут заняты миксологией и созданием уникальных коктейлей? В мастер-классе могут принимать участие от 6 до 60 человек.
                a.section__text.link(href="#") Посмотреть свободные даты
              .celebration-services__offer
                ul.section__text.celebration-services__service-list
                  li.celebration-services__service-item кулинарные мастер-классы
                  li.celebration-services__service-item презентации
                  li.celebration-services__service-item кулинарные поединки
                  li.celebration-services__service-item показательные мастер-классы
                  li.celebration-services__service-item званые ужины
                  li.celebration-services__service-item дегустации
                a.btn.btn--large.celebration-services__btn(href="#") Заказать
            li.celebration-services__item
              h3.section__subtitle.celebration-services__title Личные праздники
              .celebration-services__content
                p.section__text.celebration-services__text На дне рождения в кулинарной школе GUSTOMAESTRO можно собрать всех друзей и близких, вместе приготовить праздничное угощение, поучаствовать в веселых конкурсах, получить заряд хорошего настроения, а наш администратор с радостью заснимет все на фотокамеру и фотографии буду служить отличным напоминанием об оригинальном дне рождения!
                a.section__text.link(href="#") Посмотреть свободные даты
              .celebration-services__offer
                ul.section__text.celebration-services__service-list
                  li.celebration-services__service-item детские и взрослые дни рождения
                  li.celebration-services__service-item годовщины
                  li.celebration-services__service-item девичники
                a.btn.btn--large.celebration-services__btn(href="#") Заказать

      // celebration-events
      section.celebration-events
        .section__container.celebration-events__container
          h3.section__subtitle.celebration-events__title Организуем мероприятия
          ul.celebration-events__list
            li.celebration-events__item
              .celebration-events__text
                span.section__title.celebration-events__item-title Для взрослых
              a(href="event.html")
              img(src="images/event__promo--preview1.jpg", alt="")
            li.celebration-events__item
              .celebration-events__text
                span.section__title.celebration-events__item-title Для детей
              a(href="event.html")
              img(src="images/event__promo--preview2.jpg", alt="")

      include blocks/contacts/contacts
    include blocks/footer/footer
