wp-content/themes/gustomaestro/src/certificate.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Подарочные сертификаты | GUSTOMAESTRO</title>
    <meta name="description" content="">
    <meta name="application-name" content="True">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <link rel="apple-touch-icon" href="img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/touch-icon-ipad-retina.png">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css"><!-- build:css -->
    <link rel="stylesheet" href="css/main.css"><!-- endbuild -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body><!--[if IE 8]>
    <p>Вы используете <strong>устаревшую версию</strong> браузера. Пожалуйста, <a href="http://browsehappy.com/">обновите браузер</a> на официальном сайте, чтобы просматривать полную версию сайта.</p><![endif]-->
    <!-- top-panel-->
    <section class="top-panel">
      <div class="section__container top-panel__container">
        <ul class="top-panel__social-list">
          <li class="top-panel__social-item"><a target="_blank" href="http://www.gustomaestro.ru/feed.php" class="top-panel__social-item--rss"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://vk.com/gustomaestro" class="top-panel__social-item--vk"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://www.facebook.com/gustospb?ref=hl" class="top-panel__social-item--facebook"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://www.instagram.com/gustorestaurant/" class="top-panel__social-item--instagram"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="http://goo.gl/Ra2iEb" class="top-panel__social-item--tripadvisor"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://goo.gl/WMmoKW" class="top-panel__social-item--foursquare"></a></li>
        </ul>
        <ul class="section__text section__text--small top-panel__contacts-list">
          <li class="top-panel__contacts-item top-panel__contacts-item--phone"><a target="_blank" href="tel:78129033732">(812) 903 37 32</a></li>
          <li class="top-panel__contacts-item top-panel__contacts-item--address">Санкт-Петербург, Дегтярная ул., 1</li>
        </ul>
      </div>
    </section>
    <!-- header-->
    <header class="header">
      <div class="section__container header__container">
        <nav class="main-menu">
          <ul class="main-menu__list main-menu__list--left">
            <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
            <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
          </ul><a href="index.html" class="main-menu__logo"></a>
          <div id="openMenu" data-open="false" class="menu__btn"><span></span><span></span><span></span></div>
          <ul class="main-menu__list main-menu__list--right">
            <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
            <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
            <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
            <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <ul id="mobileMenu" class="main-menu__list main-menu__list--tablet">
            <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
            <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
            <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
            <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
            <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
            <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <!-- certificates-->
      <div class="certificates">
        <div class="section__container certificates__container">
          <!-- certificates-promo-->
          <h2 class="section__title certificates__header">Подарочные сертификаты</h2>
          <div class="certificates__promo">
            <div class="certificates__promo-image"><img src="images/certificate.jpg" alt=""></div>
            <div class="certificates__promo-content">
              <p class="section__text certificates__text">Если вы хотите сделать незабываемый подарок и порадовать близкого человека. Предлагаем отличную идею оригинального подарка на любой праздник – сертификат на посещение любого мастер-класса кулинарной школы Gustomaestro!</p>
              <h4 class="section__text certificates__title">Сертификат бывает:</h4>
              <p class="section__text certificates__text">любого номинала (минимальный – 3000 рублей) – в таком случае гость сможет посетить мастер- класс, стоимость которого не больше номинала сертификата. <br> В случае если стоимость мастер-класса больше номинала сертификата, гость может доплатить разницу на месте и посетить интересующий мастер-класс. В случае, если стоимость мастер-класса меньше- остаток может пойти в счет оплаты следующего мастер-класса.</p>
              <p class="section__text certificates__text certificates__text--marked">Стоимость сертификата на любой мастер класс – 5000 рублей.</p>
            </div>
          </div>
          <!-- certificates-list-->
          <ul class="certificates__list">
            <li class="certificates__item">
              <div class="certificates__item-image"><img src="images/certificate.jpg" alt=""></div>
              <div class="certificates__item-content">
                <h4 class="section__text certificates__item-title">Сертификат любого номинала</h4><a href="#" data-toggle="modal" data-target="#modalCertificateSchool" class="section__text link certificates__item-link">Оформить в GUSTOMAESTRO</a>
                <p class="section__text certificates__item-text">Подарить в электронном виде на почту</p><a href="#" data-toggle="modal" data-target="#modalCurrentCertificate" class="btn certificates__btn">Подарить</a>
              </div>
            </li>
            <li class="certificates__item">
              <div class="certificates__item-image"><img src="images/certificate.jpg" alt=""></div>
              <div class="certificates__item-content">
                <h4 class="section__text certificates__item-title">Сертификат на любой мастер-класс</h4><a href="#" data-toggle="modal" data-target="#modalCertificateSchool" class="section__text link certificates__item-link">Оформить в GUSTOMAESTRO</a>
                <p class="section__text certificates__item-text">Подарить в электронном виде на почту</p><a href="#" data-toggle="modal" data-target="#modalCustomCertificate" class="btn certificates__btn">Подарить</a>
              </div>
            </li>
            <li class="certificates__item">
              <div class="certificates__item-image"><img src="images/certificate.jpg" alt=""></div>
              <div class="certificates__item-content">
                <h4 class="section__text certificates__item-title">Сертификат на конкретный мастер-класс</h4><a href="#" data-toggle="modal" data-target="#modalCertificateSchool" class="section__text link certificates__item-link">Оформить в GUSTOMAESTRO</a>
                <p class="section__text certificates__item-text">Подарить в электронном виде на почту</p><a href="#" class="btn certificates__btn">Подарить</a>
              </div>
            </li>
          </ul>
          <!-- certificates-rules-->
          <div class="certificates-rules">
            <h3 class="section__subtitle certificates-rules__title">Правила активации сертификатов:</h3>
            <ul class="section__text certificates-rules__list">
              <li class="certificates-rules__item">Подарочный сертификат действителен в течение указанного на нем срока</li>
              <li class="certificates-rules__item">Подарочный сертификат является подтверждением внесения авансового платежа и предоставляет владельцу право на посещение кулинарного мастер-класса GUSTOMAESTRO на сумму, эквивалентную номиналу подарочного сертификата или на мастер-класс, название и дата которого указана в сертификате</li>
              <li class="certificates-rules__item">При реализации подарочного сертификата общей стоимостью ниже его номинала разница в денежном эквиваленте не компенсируется</li>
              <li class="certificates-rules__item">При реализации подарочного сертификата общей стоимостью выше его номинала разница доплачивается владельцем сертификата</li>
              <li class="certificates-rules__item">Подарочный сертификат не подлежит возврату и обмену на денежные средства и не восстанавливается в результате утраты</li>
              <li class="certificates-rules__item">Воспользоваться сертификатом можно только при его предъявлении</li>
            </ul>
          </div>
        </div>
      </div>
      <div id="modalCertificateSchool" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
              <h2 class="section__subtitle modal__title modal__subtitle--big-padding">Получить сертификат в школе</h2>
              <form id="formCertificateSchool" class="modal__form">
                <input type="text" placeholder="Имя и Фимилия" class="modal__input">
                <input type="tel" placeholder="Телефон" class="modal__input">
                <input type="submit" value="Заказать и получить в школе" class="btn modal__submit">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="modalCurrentCertificate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
              <h2 class="section__subtitle modal__title modal__subtitle--big-padding">Подарить сертификат на определенный мастер-класс</h2>
              <div class="selectbox__wrapper">
                <div id="modalSelectbox" class="selectbox modal__selectbox"><span class="selectbox__text jsSelectboxResult">Конюшня</span></div>
                <ul class="selectbox__dropdown">
                  <li data-date="Сб 10 января 2016" data-time="19:00" data-price="3700 руб." class="selectbox__item">
                    <p class="selectbox__text">Пирожок</p>
                  </li>
                  <li data-date="Пт 18 марта 2015" data-time="12:00" data-price="1700 руб." class="selectbox__item">
                    <p class="selectbox__text">С капусткой</p>
                  </li>
                  <li data-date="Чт 17 января 2015" data-time="19:00" data-price="3700 руб." class="selectbox__item">
                    <p class="selectbox__text">Но не красный</p>
                  </li>
                  <li data-date="Чт 17 января 2015" data-time="19:00" data-price="3700 руб." class="selectbox__item">
                    <p class="selectbox__text">С капусткой</p>
                  </li>
                  <li data-date="Чт 17 января 2015" data-time="19:00" data-price="3700 руб." class="selectbox__item">
                    <p class="selectbox__text">Но не красный</p>
                  </li>
                  <li data-date="Чт 17 января 2015" data-time="19:00" data-price="3700 руб." class="selectbox__item">
                    <p class="selectbox__text">С капусткой</p>
                  </li>
                  <li data-date="Чт 17 января 2015" data-time="19:00" data-price="3700 руб." class="selectbox__item">
                    <p class="selectbox__text">Но не красный</p>
                  </li>
                  <li data-date="Чт 17 января 2015" data-time="19:00" data-price="3700 руб." class="selectbox__item">
                    <p class="selectbox__text">С капусткой</p>
                  </li>
                  <li data-date="Чт 17 января 2015" data-time="19:00" data-price="3700 руб." class="selectbox__item">
                    <p class="selectbox__text">Но не красный</p>
                  </li>
                </ul>
              </div>
              <div class="modal__info modal__info--no-padding">
                <ul class="section__text modal__info-list">
                  <li class="modal__info-item"><span id="selectDate" class="modal__info-item--marked">17 Ноября 2015</span></li>
                  <li class="modal__info-item"><span id="selectTime" class="modal__info-item--marked">в 19:00</span></li>
                  <li class="modal__info-item"><span id="selectPrice" class="modal__info-item--marked modal__info-item--bold">3700 руб.</span></li>
                </ul>
              </div>
              <form id="formCurrentCertificate" class="modal__form">
                <input type="text" placeholder="Кому" class="modal__input">
                <input type="text" placeholder="От кого" class="modal__input">
                <input type="tel" placeholder="Телефон получателя" class="modal__input">
                <input type="email" placeholder="E-mail получателя" class="modal__input">
                <input type="email" placeholder="Ваш E-mail" class="modal__input">
                <input type="submit" value="Оплатить и подарить сертификат" class="btn modal__submit">
                <p class="section__text section__text--small modal__text--explain">После нажатия на кнопку «Записаться и оплатить» вы будете перенаправлены на страницу оплаты ЯНДЕКС.КАССЫ. После оплаты отправим электронные билеты на указанный email.</p>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="modalCustomCertificate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div role="document" class="modal-dialog modal-dialog--custom-certificate">
          <div class="modal-content">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
              <h2 class="section__subtitle modal__title modal__subtitle--big-padding">Сертификат на 
                <div class="modal__custom-rubles"><span id="customRublesResult" class="modal__custom-rubles-result">5000</span> 
                  <div class="modal__custom-rubles-changes"><span id="customRublesPlus" class="modal__custom-rubles-change modal__custom-rubles-change--plus"></span> <span id="customRublesMinus" class="modal__custom-rubles-change modal__custom-rubles-change--minus"></span></div>
                </div> рублей
              </h2>
              <form id="formCustomCertificate" class="modal__form">
                <input type="text" placeholder="Кому" class="modal__input">
                <input type="text" placeholder="От кого" class="modal__input">
                <input type="tel" placeholder="Телефон получателя" class="modal__input">
                <input type="email" placeholder="E-mail получателя" class="modal__input">
                <input type="email" placeholder="Ваш E-mail" class="modal__input">
                <input type="submit" value="Оплатить и подарить сертификат" class="btn modal__submit">
                <p class="section__text section__text--small modal__text--explain">После нажатия на кнопку «Записаться и оплатить» вы будете перенаправлены на страницу оплаты ЯНДЕКС.КАССЫ. После оплаты отправим электронные билеты на указанный email.</p>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- contacts-->
      <div class="contacts">
        <div class="contacts__map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.1122120570753!2d30.367897016222162!3d59.93028016973474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631bbf5f15f89%3A0x906cc43464858c52!2z0JTQtdCz0YLRj9GA0L3QsNGPINGD0LsuLCAxLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMDM2!5e0!3m2!1sru!2sru!4v1468303020570" width="800" height="410" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="contacts__content">
          <h2 class="section__title contacts__title">Как нас найти</h2><span class="section__text contacts__span">Санкт-Петербург, Дегтярная ул., 1</span><span class="section__text contacts__span">(812) 903 37 32</span>
          <p class="section__text section__text--small contacts__text">Наши гости могут припарковаться во внутреннем дворе ресторана. Въезд во двор расположен перед зданием ресторана от Невского пр. При въезде во двор, пожалуйста, позвоните по телефону (812) 941 17 44</p>
          <ul class="contacts__social-list">
            <li class="contacts__social-item"><a target="_blank" href="http://www.gustomaestro.ru/feed.php" class="contacts__social-item--rss"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://vk.com/gustomaestro" class="contacts__social-item--vk"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://www.facebook.com/gustospb?ref=hl" class="contacts__social-item--facebook"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://www.instagram.com/gustorestaurant/" class="contacts__social-item--instagram"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="http://goo.gl/Ra2iEb" class="contacts__social-item--tripadvisor"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://goo.gl/WMmoKW" class="contacts__social-item--foursquare"></a></li>
          </ul>
        </div>
      </div>
    </main>
    <!-- footer-->
    <div class="footer">
      <div class="section__container footer__container">
        <div class="footer__logo"></div>
        <nav class="footer__menu">
          <ul class="footer__list">
            <li class="footer__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="footer__item"><a href="celebration.html" class="active">Праздники и корпоративы</a></li>
            <li class="footer__item"><a href="about.html">О школе и поварах</a></li>
            <li class="footer__item"><a href="gallery.html">Галерея</a></li>
            <li class="footer__item"><a href="partners.html">Партнёры</a></li>
            <li class="footer__item"><a href="blog.html">Блог шеф-повара</a></li>
            <li class="footer__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <ul class="footer__labels">
            <li class="footer__labels-item">Copyright © 2015 GUSTOMAESTRO</li>
            <li class="footer__labels-item">Сделано в Astralite</li>
          </ul>
        </nav>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><!-- build:js -->
    <script src="js/util.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/main.js"></script><!-- endbuild -->
  </body>
</html>

wp-content/themes/gustomaestro/src/certificate.jade
doctype html
html(lang="ru")
  - title = "Подарочные сертификаты | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main
      // certificates
      .certificates
        .section__container.certificates__container
          // certificates-promo
          h2.section__title.certificates__header Подарочные сертификаты
          .certificates__promo
            .certificates__promo-image
              img(src="images/certificate.jpg", alt="")
            .certificates__promo-content
              p.section__text.certificates__text Если вы хотите сделать незабываемый подарок и порадовать близкого человека. Предлагаем отличную идею оригинального подарка на любой праздник – сертификат на посещение любого мастер-класса кулинарной школы Gustomaestro!
              h4.section__text.certificates__title Сертификат бывает:
              p.section__text.certificates__text любого номинала (минимальный – 3000 рублей) – в таком случае гость сможет посетить мастер- класс, стоимость которого не больше номинала сертификата. #[br] В случае если стоимость мастер-класса больше номинала сертификата, гость может доплатить разницу на месте и посетить интересующий мастер-класс. В случае, если стоимость мастер-класса меньше- остаток может пойти в счет оплаты следующего мастер-класса.
              p.section__text.certificates__text.certificates__text--marked Стоимость сертификата на любой мастер класс – 5000 рублей.
          // certificates-list
          ul.certificates__list
            li.certificates__item
              .certificates__item-image
                img(src="images/certificate.jpg", alt="")
              .certificates__item-content
                h4.section__text.certificates__item-title Сертификат любого номинала
                a.section__text.link.certificates__item-link(href="#", data-toggle="modal", data-target="#modalCertificateSchool") Оформить в GUSTOMAESTRO
                p.section__text.certificates__item-text Подарить в электронном виде на почту
                a.btn.certificates__btn(href="#", data-toggle="modal", data-target="#modalCurrentCertificate") Подарить
            li.certificates__item
              .certificates__item-image
                img(src="images/certificate.jpg", alt="")
              .certificates__item-content
                h4.section__text.certificates__item-title Сертификат на любой мастер-класс
                a.section__text.link.certificates__item-link(href="#", data-toggle="modal", data-target="#modalCertificateSchool") Оформить в GUSTOMAESTRO
                p.section__text.certificates__item-text Подарить в электронном виде на почту
                a.btn.certificates__btn(href="#", data-toggle="modal", data-target="#modalCustomCertificate") Подарить
            li.certificates__item
              .certificates__item-image
                img(src="images/certificate.jpg", alt="")
              .certificates__item-content
                h4.section__text.certificates__item-title Сертификат на конкретный мастер-класс
                a.section__text.link.certificates__item-link(href="#", data-toggle="modal", data-target="#modalCertificateSchool") Оформить в GUSTOMAESTRO
                p.section__text.certificates__item-text Подарить в электронном виде на почту
                a.btn.certificates__btn(href="#") Подарить
          // certificates-rules
          .certificates-rules
            h3.section__subtitle.certificates-rules__title Правила активации сертификатов:
            ul.section__text.certificates-rules__list
              li.certificates-rules__item Подарочный сертификат действителен в течение указанного на нем срока
              li.certificates-rules__item Подарочный сертификат является подтверждением внесения авансового платежа и предоставляет владельцу право на посещение кулинарного мастер-класса GUSTOMAESTRO на сумму, эквивалентную номиналу подарочного сертификата или на мастер-класс, название и дата которого указана в сертификате
              li.certificates-rules__item При реализации подарочного сертификата общей стоимостью ниже его номинала разница в денежном эквиваленте не компенсируется
              li.certificates-rules__item При реализации подарочного сертификата общей стоимостью выше его номинала разница доплачивается владельцем сертификата
              li.certificates-rules__item Подарочный сертификат не подлежит возврату и обмену на денежные средства и не восстанавливается в результате утраты
              li.certificates-rules__item Воспользоваться сертификатом можно только при его предъявлении

      include blocks/modals/modal-certificate-school
      include blocks/modals/modal-current-certificate
      include blocks/modals/modal-custom-certificate

      include blocks/contacts/contacts
    include blocks/footer/footer
