wp-content/themes/gustomaestro/src/chief.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Фабрицио Фатуччи | GUSTOMAESTRO</title>
    <meta name="description" content="">
    <meta name="application-name" content="True">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <link rel="apple-touch-icon" href="img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/touch-icon-ipad-retina.png">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css"><!-- build:css -->
    <link rel="stylesheet" href="css/main.css"><!-- endbuild -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body><!--[if IE 8]>
    <p>Вы используете <strong>устаревшую версию</strong> браузера. Пожалуйста, <a href="http://browsehappy.com/">обновите браузер</a> на официальном сайте, чтобы просматривать полную версию сайта.</p><![endif]-->
    <!-- top-panel-->
    <section class="top-panel">
      <div class="section__container top-panel__container">
        <ul class="top-panel__social-list">
          <li class="top-panel__social-item"><a target="_blank" href="http://www.gustomaestro.ru/feed.php" class="top-panel__social-item--rss"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://vk.com/gustomaestro" class="top-panel__social-item--vk"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://www.facebook.com/gustospb?ref=hl" class="top-panel__social-item--facebook"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://www.instagram.com/gustorestaurant/" class="top-panel__social-item--instagram"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="http://goo.gl/Ra2iEb" class="top-panel__social-item--tripadvisor"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://goo.gl/WMmoKW" class="top-panel__social-item--foursquare"></a></li>
        </ul>
        <ul class="section__text section__text--small top-panel__contacts-list">
          <li class="top-panel__contacts-item top-panel__contacts-item--phone"><a target="_blank" href="tel:78129033732">(812) 903 37 32</a></li>
          <li class="top-panel__contacts-item top-panel__contacts-item--address">Санкт-Петербург, Дегтярная ул., 1</li>
        </ul>
      </div>
    </section>
    <!-- header-->
    <header class="header">
      <div class="section__container header__container">
        <nav class="main-menu">
          <ul class="main-menu__list main-menu__list--left">
            <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
            <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
          </ul><a href="index.html" class="main-menu__logo"></a>
          <div id="openMenu" data-open="false" class="menu__btn"><span></span><span></span><span></span></div>
          <ul class="main-menu__list main-menu__list--right">
            <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
            <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
            <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
            <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <ul id="mobileMenu" class="main-menu__list main-menu__list--tablet">
            <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
            <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
            <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
            <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
            <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
            <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <!-- breadcrumbs-->
      <div class="breadcrumbs">
        <div class="section__container breadcrumbs__container">
          <ul class="section__text section__text--small breadcrumbs__list">
            <li class="breadcrumbs__item"><a href="#">О школе и команде</a></li>
            <li class="breadcrumbs__item">></li>
            <li class="breadcrumbs__item active">Фабрицио Фаттучи</li>
          </ul>
        </div>
      </div>
      <!-- about-chief-->
      <div class="about-chief">
        <div class="section__container about-chief__container">
          <div class="about-chief__image"><img src="images/chef__promo.jpg"></div>
          <div class="about-chief__content">
            <h3 class="section__subtitle about-chief__title">Фабрицио Фатуччи</h3><span class="section__text section__text--small about-chief__subtitle">Итальянская кухня</span>
            <p class="section__text about-chief__text">Искусство готовить, по версии мэтра, – это, прежде всего, чувства, эмоции и настроение, которые можно подарить другим. В поисках этих главных ингредиентов, уроженец Рима, он объездил всю Италию. Впитал ароматы Тосканы, Сицилии, Неаполя, и наполнил ими свои блюда. Его кредо - импровизация с душой. Отточив мастерство в десятках лучших заведений, от лондонского гранд-отеля «Savoy» до московского «Forbes», в Петербурге Фабрицио осуществил свою мечту – о «живом» и «тёплом» ресторане, где гости чувствуют себя как дома. <br> <br> Для создания гастрономических шедевров он использует свежайшие натуральные продукты, обязательно по сезону. Ведь только естественное может быть полезным! Этому научила Фабрицио его бабушка Луиджина, которой он обязан страстью к кулинарии. Почтенной синьоре можно верить – в свои 90 она отлично себя чувствует, и придумывает новые рецепты. Их, кстати, немало в меню «Gusto» - консоме из телятины с тортеллини, пармезаном и шпинатом, салат из томатов с буйволиной моцареллой, тар-тар из тунца с каперсами, апельсинами и оливками, и - мечта гурмана - пармиджана из баклажанов. Впрочем, авторские рецепты шеф-повара не менее удивительны. Кролик по-римски с пекорино, ризотто с радиккио, каштанами и щёчками телёнка, тушёными в красном вине… Меню обновляется четырежды в год, а вкус каждого блюда неповторим – в этом, по мнению знаменитого шеф-повара из Италии, и заключается магия кулинарии. <br> <br> Преподаватель одной из лучших кулинарных школ мира – римской «Gambero Rosso», он не расстался с любимым делом и в Петербурге. Мастер-классы Фабрицио Фатуччи в «Gusto» – не просто способ отлично провести время, выведать секреты бабушки Луиджины и «haute cuisine». Это настоящие гастрономические шоу, которые приносят радость. А именно это - уверен Фабрицио - и есть единственно правильная цель - для хорошего ресторана, шеф-повара, человека.</p>
          </div>
        </div>
      </div>
      <!-- main-dishes-->
      <div class="main-dishes">
        <div class="section__container main-dishes__container">
          <h3 class="section__subtitle main-dishes__title">Фирменные блюда шефа</h3>
          <ul class="main-dishes__list">
            <li class="main-dishes__item">
              <figure>
                <div class="main-dishes__image"><img src="images/main-dish--pork.jpg"></div>
                <figcaption class="section__text main-dishes__text">Свиная грудинка с апельсином и корицей</figcaption>
              </figure>
            </li>
            <li class="main-dishes__item">
              <figure>
                <div class="main-dishes__image"><img src="images/main-dish--carpaccio.jpg"></div>
                <figcaption class="section__text main-dishes__text">Карпаччо из тыквы с креветками и руколой</figcaption>
              </figure>
            </li>
            <li class="main-dishes__item">
              <figure>
                <div class="main-dishes__image"><img src="images/main-dish--pasta.jpg"></div>
                <figcaption class="section__text main-dishes__text">Паста болоньезе</figcaption>
              </figure>
            </li>
            <li class="main-dishes__item">
              <figure>
                <div class="main-dishes__image"><img src="images/main-dish--mutton.jpg"></div>
                <figcaption class="section__text main-dishes__text">Грудинка баранья по-флорентийски</figcaption>
              </figure>
            </li>
          </ul>
        </div>
      </div>
      <!-- mc-preview-->
      <div class="mc-preview">
        <div class="section__container mc-preview__container">
          <h3 class="section__title mc-preview__title">Рекомендуемые мастер-классы</h3>
          <ul class="mc-preview__list">
            <li class="mc-preview__item">
              <h4 class="section__text section__text--medium mc-preview__subtitle">Viva Italia. Горячий Хэллоуин с Фабрицио Фатуччи</h4>
              <div class="mc-preview__image mc-preview__image--bg"><img src="images/mk__preview--viva.jpg"><a href="workshop.html" class="btn mc-preview__btn mc-preview__btn--more">Подробнее</a><a href="#" class="btn mc-preview__btn mc-preview__btn--enroll">Записаться</a></div>
              <div class="mc-preview__content">
                <div class="mc-preview__recipe"><span class="section__text section__text--small mc-preview__recipe-title">Приготовим:</span>
                  <ol class="section__text section__text--small mc-preview__recipe-list">
                    <li class="mc-preview__recipe-item">Капуччино из тыквы с трюфелем</li>
                    <li class="mc-preview__recipe-item">Карпаччо из тыквы с креветками и руколой</li>
                    <li class="mc-preview__recipe-item">Сладкое тыквенное печенье</li>
                  </ol>
                </div>
              </div>
              <div class="mc-preview__info">
                <ul class="section__text section__text--medium mc-preview__info-list">
                  <li class="mc-preview__info-item">Чт <span class="mc-preview__info-item--marked">17 Ноября 2015</span></li>
                  <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked">в 19:00</span></li>
                  <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked mc-preview__info-item--bold">3700 руб.</span></li>
                </ul>
              </div>
            </li>
            <li class="mc-preview__item">
              <h4 class="section__text section__text--medium mc-preview__subtitle">Апельсиновый рай с Нико ди Мауро</h4>
              <div class="mc-preview__image mc-preview__image--bg"><img src="images/mk__preview--orange.jpg"><a href="workshop.html" class="btn mc-preview__btn mc-preview__btn--more">Подробнее</a><a href="#" class="btn mc-preview__btn mc-preview__btn--enroll">Записаться</a></div>
              <div class="mc-preview__content">
                <div class="mc-preview__recipe"><span class="section__text section__text--small mc-preview__recipe-title">Приготовим:</span>
                  <ol class="section__text section__text--small mc-preview__recipe-list">
                    <li class="mc-preview__recipe-item">Паста с апельсинами</li>
                    <li class="mc-preview__recipe-item">Свиная грудинка с апельсином и корицей</li>
                    <li class="mc-preview__recipe-item">Апельсиновый мусс</li>
                  </ol>
                </div>
              </div>
              <div class="mc-preview__info">
                <ul class="section__text section__text--medium mc-preview__info-list">
                  <li class="mc-preview__info-item">Чт <span class="mc-preview__info-item--marked">25 Ноября 2015</span></li>
                  <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked">в 19:00</span></li>
                  <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked mc-preview__info-item--bold">4500 руб.</span></li>
                </ul>
              </div>
              <li class="mc-preview__item">
                <h4 class="section__text section__text--medium mc-preview__subtitle">"Богатство Средиземноморья" с Фабрицио Фатуччи</h4>
                <div class="mc-preview__image mc-preview__image--bg"><img src="images/mk__preview--borscht.jpg"><a href="workshop.html" class="btn mc-preview__btn mc-preview__btn--more">Подробнее</a><a href="#" class="btn mc-preview__btn mc-preview__btn--enroll">Записаться</a></div>
                <div class="mc-preview__content">
                  <div class="mc-preview__recipe"><span class="section__text section__text--small mc-preview__recipe-title">Приготовим:</span>
                    <ol class="section__text section__text--small mc-preview__recipe-list">
                      <li class="mc-preview__recipe-item">Средиземноморский суп с кавателли мидиями, белой фасолью и пекорино</li>
                      <li class="mc-preview__recipe-item">Спагетти с гребешками, чернилами каракатицы, томатами и чили</li>
                      <li class="mc-preview__recipe-item">Осьминог с пармантье из тоинамбура</li>
                    </ol>
                  </div>
                </div>
                <div class="mc-preview__info">
                  <ul class="section__text section__text--medium mc-preview__info-list">
                    <li class="mc-preview__info-item">Чт <span class="mc-preview__info-item--marked">30 Ноября 2015</span></li>
                    <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked">в 19:00</span></li>
                    <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked mc-preview__info-item--bold">5000 руб.</span></li>
                  </ul>
                </div>
              </li>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <!-- footer-->
    <div class="footer">
      <div class="section__container footer__container">
        <div class="footer__logo"></div>
        <nav class="footer__menu">
          <ul class="footer__list">
            <li class="footer__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="footer__item"><a href="celebration.html" class="active">Праздники и корпоративы</a></li>
            <li class="footer__item"><a href="about.html">О школе и поварах</a></li>
            <li class="footer__item"><a href="gallery.html">Галерея</a></li>
            <li class="footer__item"><a href="partners.html">Партнёры</a></li>
            <li class="footer__item"><a href="blog.html">Блог шеф-повара</a></li>
            <li class="footer__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <ul class="footer__labels">
            <li class="footer__labels-item">Copyright © 2015 GUSTOMAESTRO</li>
            <li class="footer__labels-item">Сделано в Astralite</li>
          </ul>
        </nav>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><!-- build:js -->
    <script src="js/util.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/main.js"></script><!-- endbuild -->
  </body>
</html>

wp-content/themes/gustomaestro/src/chief.jade
doctype html
html(lang="ru")
  - title = "Фабрицио Фатуччи | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main
      // breadcrumbs
      .breadcrumbs
        .section__container.breadcrumbs__container
          ul.section__text.section__text--small.breadcrumbs__list
            li.breadcrumbs__item: a(href="#") О школе и команде
            li.breadcrumbs__item >
            li.breadcrumbs__item.active Фабрицио Фаттучи

      // about-chief
      .about-chief
        .section__container.about-chief__container
          .about-chief__image
            img(src="images/chef__promo.jpg")
          .about-chief__content
            h3.section__subtitle.about-chief__title Фабрицио Фатуччи
            span.section__text.section__text--small.about-chief__subtitle Итальянская кухня
            p.section__text.about-chief__text Искусство готовить, по версии мэтра, – это, прежде всего, чувства, эмоции и настроение, которые можно подарить другим. В поисках этих главных ингредиентов, уроженец Рима, он объездил всю Италию. Впитал ароматы Тосканы, Сицилии, Неаполя, и наполнил ими свои блюда. Его кредо - импровизация с душой. Отточив мастерство в десятках лучших заведений, от лондонского гранд-отеля «Savoy» до московского «Forbes», в Петербурге Фабрицио осуществил свою мечту – о «живом» и «тёплом» ресторане, где гости чувствуют себя как дома. #[br] #[br] Для создания гастрономических шедевров он использует свежайшие натуральные продукты, обязательно по сезону. Ведь только естественное может быть полезным! Этому научила Фабрицио его бабушка Луиджина, которой он обязан страстью к кулинарии. Почтенной синьоре можно верить – в свои 90 она отлично себя чувствует, и придумывает новые рецепты. Их, кстати, немало в меню «Gusto» - консоме из телятины с тортеллини, пармезаном и шпинатом, салат из томатов с буйволиной моцареллой, тар-тар из тунца с каперсами, апельсинами и оливками, и - мечта гурмана - пармиджана из баклажанов. Впрочем, авторские рецепты шеф-повара не менее удивительны. Кролик по-римски с пекорино, ризотто с радиккио, каштанами и щёчками телёнка, тушёными в красном вине… Меню обновляется четырежды в год, а вкус каждого блюда неповторим – в этом, по мнению знаменитого шеф-повара из Италии, и заключается магия кулинарии. #[br] #[br] Преподаватель одной из лучших кулинарных школ мира – римской «Gambero Rosso», он не расстался с любимым делом и в Петербурге. Мастер-классы Фабрицио Фатуччи в «Gusto» – не просто способ отлично провести время, выведать секреты бабушки Луиджины и «haute cuisine». Это настоящие гастрономические шоу, которые приносят радость. А именно это - уверен Фабрицио - и есть единственно правильная цель - для хорошего ресторана, шеф-повара, человека.

      // main-dishes
      .main-dishes
        .section__container.main-dishes__container
          h3.section__subtitle.main-dishes__title Фирменные блюда шефа
          ul.main-dishes__list
            li.main-dishes__item: figure
              .main-dishes__image
                img(src="images/main-dish--pork.jpg")
              figcaption.section__text.main-dishes__text Свиная грудинка с апельсином и корицей
            li.main-dishes__item: figure
              .main-dishes__image
                img(src="images/main-dish--carpaccio.jpg")
              figcaption.section__text.main-dishes__text Карпаччо из тыквы с креветками и руколой
            li.main-dishes__item: figure
              .main-dishes__image
                img(src="images/main-dish--pasta.jpg")
              figcaption.section__text.main-dishes__text Паста болоньезе
            li.main-dishes__item: figure
              .main-dishes__image
                img(src="images/main-dish--mutton.jpg")
              figcaption.section__text.main-dishes__text Грудинка баранья по-флорентийски

      // mc-preview
      .mc-preview
        .section__container.mc-preview__container
          h3.section__title.mc-preview__title Рекомендуемые мастер-классы
          ul.mc-preview__list
            li.mc-preview__item
              h4.section__text.section__text--medium.mc-preview__subtitle Viva Italia. Горячий Хэллоуин с Фабрицио Фатуччи
              .mc-preview__image.mc-preview__image--bg
                img(src="images/mk__preview--viva.jpg")
                a.btn.mc-preview__btn.mc-preview__btn--more(href="workshop.html") Подробнее
                a.btn.mc-preview__btn.mc-preview__btn--enroll(href="#") Записаться
              .mc-preview__content
                .mc-preview__recipe
                  span.section__text.section__text--small.mc-preview__recipe-title Приготовим:
                  ol.section__text.section__text--small.mc-preview__recipe-list
                    li.mc-preview__recipe-item Капуччино из тыквы с трюфелем
                    li.mc-preview__recipe-item Карпаччо из тыквы с креветками и руколой
                    li.mc-preview__recipe-item Сладкое тыквенное печенье
              .mc-preview__info
                ul.section__text.section__text--medium.mc-preview__info-list
                  li.mc-preview__info-item Чт #[span.mc-preview__info-item--marked 17 Ноября 2015]
                  li.mc-preview__info-item #[span.mc-preview__info-item--marked в 19:00]
                  li.mc-preview__info-item #[span.mc-preview__info-item--marked.mc-preview__info-item--bold 3700 руб.]
            li.mc-preview__item
              h4.section__text.section__text--medium.mc-preview__subtitle Апельсиновый рай с Нико ди Мауро
              .mc-preview__image.mc-preview__image--bg
                img(src="images/mk__preview--orange.jpg")
                a.btn.mc-preview__btn.mc-preview__btn--more(href="workshop.html") Подробнее
                a.btn.mc-preview__btn.mc-preview__btn--enroll(href="#") Записаться
              .mc-preview__content
                .mc-preview__recipe
                  span.section__text.section__text--small.mc-preview__recipe-title Приготовим:
                  ol.section__text.section__text--small.mc-preview__recipe-list
                    li.mc-preview__recipe-item Паста с апельсинами
                    li.mc-preview__recipe-item Свиная грудинка с апельсином и корицей
                    li.mc-preview__recipe-item Апельсиновый мусс
              .mc-preview__info
                ul.section__text.section__text--medium.mc-preview__info-list
                  li.mc-preview__info-item Чт #[span.mc-preview__info-item--marked 25 Ноября 2015]
                  li.mc-preview__info-item #[span.mc-preview__info-item--marked в 19:00]
                  li.mc-preview__info-item #[span.mc-preview__info-item--marked.mc-preview__info-item--bold 4500 руб.]
              li.mc-preview__item
                h4.section__text.section__text--medium.mc-preview__subtitle "Богатство Средиземноморья" с Фабрицио Фатуччи
                .mc-preview__image.mc-preview__image--bg
                  img(src="images/mk__preview--borscht.jpg")
                  a.btn.mc-preview__btn.mc-preview__btn--more(href="workshop.html") Подробнее
                  a.btn.mc-preview__btn.mc-preview__btn--enroll(href="#") Записаться
                .mc-preview__content
                  .mc-preview__recipe
                    span.section__text.section__text--small.mc-preview__recipe-title Приготовим:
                    ol.section__text.section__text--small.mc-preview__recipe-list
                      li.mc-preview__recipe-item Средиземноморский суп с кавателли мидиями, белой фасолью и пекорино
                      li.mc-preview__recipe-item Спагетти с гребешками, чернилами каракатицы, томатами и чили
                      li.mc-preview__recipe-item Осьминог с пармантье из тоинамбура
                .mc-preview__info
                  ul.section__text.section__text--medium.mc-preview__info-list
                    li.mc-preview__info-item Чт #[span.mc-preview__info-item--marked 30 Ноября 2015]
                    li.mc-preview__info-item #[span.mc-preview__info-item--marked в 19:00]
                    li.mc-preview__info-item #[span.mc-preview__info-item--marked.mc-preview__info-item--bold 5000 руб.]

    include blocks/footer/footer
