wp-content/themes/gustomaestro/src/gallery.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Галерея | GUSTOMAESTRO</title>
    <meta name="description" content="">
    <meta name="application-name" content="True">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <link rel="apple-touch-icon" href="img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/touch-icon-ipad-retina.png">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css"><!-- build:css -->
    <link rel="stylesheet" href="css/main.css"><!-- endbuild -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body><!--[if IE 8]>
    <p>Вы используете <strong>устаревшую версию</strong> браузера. Пожалуйста, <a href="http://browsehappy.com/">обновите браузер</a> на официальном сайте, чтобы просматривать полную версию сайта.</p><![endif]-->
    <!-- top-panel-->
    <section class="top-panel">
      <div class="section__container top-panel__container">
        <ul class="top-panel__social-list">
          <li class="top-panel__social-item"><a target="_blank" href="http://www.gustomaestro.ru/feed.php" class="top-panel__social-item--rss"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://vk.com/gustomaestro" class="top-panel__social-item--vk"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://www.facebook.com/gustospb?ref=hl" class="top-panel__social-item--facebook"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://www.instagram.com/gustorestaurant/" class="top-panel__social-item--instagram"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="http://goo.gl/Ra2iEb" class="top-panel__social-item--tripadvisor"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://goo.gl/WMmoKW" class="top-panel__social-item--foursquare"></a></li>
        </ul>
        <ul class="section__text section__text--small top-panel__contacts-list">
          <li class="top-panel__contacts-item top-panel__contacts-item--phone"><a target="_blank" href="tel:78129033732">(812) 903 37 32</a></li>
          <li class="top-panel__contacts-item top-panel__contacts-item--address">Санкт-Петербург, Дегтярная ул., 1</li>
        </ul>
      </div>
    </section>
    <!-- header-->
    <header class="header">
      <div class="section__container header__container">
        <nav class="main-menu">
          <ul class="main-menu__list main-menu__list--left">
            <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
            <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
          </ul><a href="index.html" class="main-menu__logo"></a>
          <div id="openMenu" data-open="false" class="menu__btn"><span></span><span></span><span></span></div>
          <ul class="main-menu__list main-menu__list--right">
            <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
            <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
            <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
            <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <ul id="mobileMenu" class="main-menu__list main-menu__list--tablet">
            <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
            <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
            <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
            <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
            <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
            <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main main--gallery">
      <!-- gallery-->
      <div class="gallery">
        <div class="section__container gallery__container">
          <h2 class="section__subtitle gallery__title">Интерьер школы</h2>
          <div class="gallery__wrapper">
            <ul class="gallery__list">
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/interior__gallery1.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/interior__gallery2.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/interior__gallery3.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/interior__gallery4.jpg" alt=""></div></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- gallery-->
      <div class="gallery">
        <div class="section__container gallery__container">
          <h2 class="section__subtitle gallery__title">Как проходят мастер-классы</h2>
          <div class="gallery__wrapper">
            <ul class="gallery__list">
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery1.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery2.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery3.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery4.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery5.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery6.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery7.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery8.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery9.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery10.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery11.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery12.jpg" alt=""></div></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- gallery-->
      <div class="gallery">
        <div class="section__container gallery__container">
          <h2 class="section__subtitle gallery__title">Как проходят корпоративы и личные праздники</h2>
          <div class="gallery__wrapper">
            <ul class="gallery__list">
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery1.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery2.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery3.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery4.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery5.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery6.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery7.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery8.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery9.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery10.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery11.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery12.jpg" alt=""></div></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- contacts-->
      <div class="contacts">
        <div class="contacts__map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.1122120570753!2d30.367897016222162!3d59.93028016973474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631bbf5f15f89%3A0x906cc43464858c52!2z0JTQtdCz0YLRj9GA0L3QsNGPINGD0LsuLCAxLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMDM2!5e0!3m2!1sru!2sru!4v1468303020570" width="800" height="410" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="contacts__content">
          <h2 class="section__title contacts__title">Как нас найти</h2><span class="section__text contacts__span">Санкт-Петербург, Дегтярная ул., 1</span><span class="section__text contacts__span">(812) 903 37 32</span>
          <p class="section__text section__text--small contacts__text">Наши гости могут припарковаться во внутреннем дворе ресторана. Въезд во двор расположен перед зданием ресторана от Невского пр. При въезде во двор, пожалуйста, позвоните по телефону (812) 941 17 44</p>
          <ul class="contacts__social-list">
            <li class="contacts__social-item"><a target="_blank" href="http://www.gustomaestro.ru/feed.php" class="contacts__social-item--rss"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://vk.com/gustomaestro" class="contacts__social-item--vk"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://www.facebook.com/gustospb?ref=hl" class="contacts__social-item--facebook"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://www.instagram.com/gustorestaurant/" class="contacts__social-item--instagram"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="http://goo.gl/Ra2iEb" class="contacts__social-item--tripadvisor"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://goo.gl/WMmoKW" class="contacts__social-item--foursquare"></a></li>
          </ul>
        </div>
      </div>
    </main>
    <!-- footer-->
    <div class="footer">
      <div class="section__container footer__container">
        <div class="footer__logo"></div>
        <nav class="footer__menu">
          <ul class="footer__list">
            <li class="footer__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="footer__item"><a href="celebration.html" class="active">Праздники и корпоративы</a></li>
            <li class="footer__item"><a href="about.html">О школе и поварах</a></li>
            <li class="footer__item"><a href="gallery.html">Галерея</a></li>
            <li class="footer__item"><a href="partners.html">Партнёры</a></li>
            <li class="footer__item"><a href="blog.html">Блог шеф-повара</a></li>
            <li class="footer__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <ul class="footer__labels">
            <li class="footer__labels-item">Copyright © 2015 GUSTOMAESTRO</li>
            <li class="footer__labels-item">Сделано в Astralite</li>
          </ul>
        </nav>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><!-- build:js -->
    <script src="js/util.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/main.js"></script><!-- endbuild -->
  </body>
</html>

wp-content/themes/gustomaestro/src/gallery.jade
doctype html
html(lang="ru")
  - title = "Галерея | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main.main--gallery
      // gallery
      .gallery
        .section__container.gallery__container
          h2.section__subtitle.gallery__title Интерьер школы
          .gallery__wrapper
            ul.gallery__list
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/interior__gallery1.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/interior__gallery2.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/interior__gallery3.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/interior__gallery4.jpg", alt="")

      // gallery
      .gallery
        .section__container.gallery__container
          h2.section__subtitle.gallery__title Как проходят мастер-классы
          .gallery__wrapper
            ul.gallery__list
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery1.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery2.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery3.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery4.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery5.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery6.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery7.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery8.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery9.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery10.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery11.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery12.jpg", alt="")

      // gallery
      .gallery
        .section__container.gallery__container
          h2.section__subtitle.gallery__title Как проходят корпоративы и личные праздники
          .gallery__wrapper
            ul.gallery__list
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery1.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery2.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery3.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery4.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery5.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery6.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery7.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery8.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery9.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery10.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery11.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery12.jpg", alt="")

      include blocks/contacts/contacts
    include blocks/footer/footer
