wp-content/themes/gustomaestro/src/partners.jade
doctype html
html(lang="ru")
  - title = "Партнёры | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main
      // partners
      .partners
        .section__container.partners__container
          h2.section__title.partners__title Партнёры
          .partners__wrapper
            ul.partners__logo-list
              li.partners__item: img(src="images/tefal.png", alt="")
              li.partners__item: img(src="images/moulinex.png", alt="")
              li.partners__item: img(src="images/kasumi.png", alt="")
              li.partners__item: img(src="images/italica.png", alt="")
              li.partners__item: img(src="images/sesh.png", alt="")
              li.partners__item: img(src="images/food-and-wine.png", alt="")
              li.partners__item: img(src="images/redio-monte-carlo.png", alt="")
              li.partners__item: img(src="images/resto.png", alt="")
              li.partners__item: img(src="images/barilla.png", alt="")
              li.partners__item: img(src="images/delonghi.png", alt="")
              li.partners__item: img(src="images/kenwood.png", alt="")
              li.partners__item: img(src="images/smeg.png", alt="")
            .partners__content
              h3.section__text.partners__subtitle Плюсы сотрудничества
              p.section__text.partners__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              h3.section__text.partners__subtitle Хотите стать нашим партнёром?
              form.partners__form
                input.partners__input(type="text", placeholder="Имя")
                input.partners__input(type="tel", placeholder="Телефон")
                input.btn.partners__submit(type="submit", value="Да, начать сотрудничать")

      // about-partners
      .about-partners
        .section__container.about-partners__container
          h2.section__subtitle.about-partners__title Подобнее о наших партнёрах
          ul.about-partners__list
            li.about-partners__item
              .about-partners__image
                img(src="images/tefal.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle Tefal
                p.section__text.section__text--small.about-partners__text Всемирно известная французская марка, которая является основоположником  и признанным лидером в производстве посуды с антипригарным покрытием. История успеха компании началась в 1954 году, когда специалисты Tefal изобрели сковороду с антипригарным покрытием, создав тем самым абсолютно новую категорию посуды. Это стало первым шагом на пути постоянного развития, усовершенствований и творческих идей Tefal.   На сегодняшний день более 1 миллиарда сковород Tefal заняли достойное место на кухнях хозяек всего мира.
            li.about-partners__item
              .about-partners__image
                img(src="images/moulinex.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle Moulinex
                p.section__text.section__text--small.about-partners__text французская торговая марка, основанная в 1937 году, под которой  производятся приборы для кухни. С 2001 года она является является собственностью Groupe SEB. Наряду с маркой Moulinex  Groupe SEB выпускает и продает продукцию таких брендов, как Rowenta, Tefal, Krups в 120 странах мира и является международным лидером на рынке малой бытовой техники.
            li.about-partners__item
              .about-partners__image
                img(src="images/kasumi.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle KASUMI
                p.section__text.section__text--small.about-partners__text Сеть магазинов японских ножей для кухни, туризма и охоты, а также  галереи современного японского дизайна. KASUMI является эксклюзивным представителем признанных японских ножевых брендов: Kasumi, Masahiro, Mcusta, Hattori, Kiku Knives, японского бренда художественного стекла Sugahara, североамериканской студии премиальных аксессуаров William Henry Studio, а также производителей эксклюзивных ручек и решений для письма Platinum Pen (Япония) и Kynsey (Испания).
            li.about-partners__item
              .about-partners__image
                img(src="images/italica.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle Центр итальянского языка Italica
                p.section__text.section__text--small.about-partners__text Главная задача Центра Italica - качественное и эффективное обучение итальянскому языку. Грамотное применение европейской коммуникативной методики и талантливая работа профессиональных преподавателей-носителей языка из Италии, а также современные учебные материалы – вот секрет успеха наших учеников. Если ты выбираешь эффективность – тебе к нам!
            li.about-partners__item
              .about-partners__image
                img(src="images/delonghi.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle De'Longhi
                p.section__text.section__text--small.about-partners__text Компания De'Longhi  является лидером в производстве и продажах мелкой бытовой техники в мире, работающая в следующих категориях: кофемашины, техника для обогрева, кондиционирования, техника для кухни. В нашем портфеле присутствует бренды Delonghi, Kenwood, Braun и Ariette.
            li.about-partners__item
              .about-partners__image.about-partners__image--small
                img(src="images/sesh.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle S`esh
                p.section__text.section__text--small.about-partners__text S’esh – это интернет-сервис традиционных сладостей со всех уголков нашего необъятного Мира. Восточные и американские, французские и итальянские, турецкие и индийские, японские и многие другие – попробуйте весь мир на вкус.
            li.about-partners__item
              .about-partners__image
                img(src="images/smeg.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle Smeg
                p.section__text.section__text--small.about-partners__text Smeg – это итальянский производитель бытовой техники, головной офис которого находится в городе Гуасталла на севере Италии в провинции Реджио Эмилья. За рубежом Smeg представлен 15-ю филиалами (Великобритания, Франция, Бельгия, Нидерланды, Германия, Швеция, Дания, Испания, Португалия, Россия, Украина, Казахстан, ЮАР, США и Австралия), представительствами в Гонконге и Саудовской Аравии и обширной сетью дистрибьюторов.
            li.about-partners__item
              .about-partners__image.about-partners__image--small
                img(src="images/food-and-wine.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle Центр итальянского языка Italica
                p.section__text.section__text--small.about-partners__text Главная задача Центра Italica - качественное и эффективное обучение итальянскому языку. Грамотное применение европейской коммуникативной методики и талантливая работа профессиональных преподавателей-носителей языка из Италии, а также современные учебные материалы – вот секрет успеха наших учеников. Если ты выбираешь эффективность – тебе к нам!
            li.about-partners__item
              .about-partners__image
                img(src="images/barilla.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle Barilla G.&R. Fratelli S.p.A.
                p.section__text.section__text--small.about-partners__text Компания Barilla была основана более ста лет назад, в 1877 году. Сегодня Barilla является лидером по продажам пасты во всем мире, с экспортом в более чем 125 странах мира. Помимо пасты, Barilla лидирует по продажам соусов для пасты в Европе, хлебобулочных изделий в Италии и по продажам хрустящего хлеба в странах Северной Европы. Сегодня компании Barilla принадлежит 27 производственных площадок (14 в Италии и 13 за ее пределами)
            li.about-partners__item
              .about-partners__image.about-partners__image--offer
              .about-partners__content
                h3.section__text.about-partners__subtitle Хотите стать нашим партнёром?
                form.partners__form
                  input.partners__input(type="text", placeholder="Имя")
                  input.partners__input(type="tel", placeholder="Телефон")
                  input.btn.partners__submit(type="submit", value="Да, начать сотрудничать")

    include blocks/footer/footer

wp-content/themes/gustomaestro/src/partners.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Партнёры | GUSTOMAESTRO</title>
    <meta name="description" content="">
    <meta name="application-name" content="True">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <link rel="apple-touch-icon" href="img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/touch-icon-ipad-retina.png">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css"><!-- build:css -->
    <link rel="stylesheet" href="css/main.css"><!-- endbuild -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body><!--[if IE 8]>
    <p>Вы используете <strong>устаревшую версию</strong> браузера. Пожалуйста, <a href="http://browsehappy.com/">обновите браузер</a> на официальном сайте, чтобы просматривать полную версию сайта.</p><![endif]-->
    <!-- top-panel-->
    <section class="top-panel">
      <div class="section__container top-panel__container">
        <ul class="top-panel__social-list">
          <li class="top-panel__social-item"><a target="_blank" href="http://www.gustomaestro.ru/feed.php" class="top-panel__social-item--rss"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://vk.com/gustomaestro" class="top-panel__social-item--vk"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://www.facebook.com/gustospb?ref=hl" class="top-panel__social-item--facebook"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://www.instagram.com/gustorestaurant/" class="top-panel__social-item--instagram"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="http://goo.gl/Ra2iEb" class="top-panel__social-item--tripadvisor"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://goo.gl/WMmoKW" class="top-panel__social-item--foursquare"></a></li>
        </ul>
        <ul class="section__text section__text--small top-panel__contacts-list">
          <li class="top-panel__contacts-item top-panel__contacts-item--phone"><a target="_blank" href="tel:78129033732">(812) 903 37 32</a></li>
          <li class="top-panel__contacts-item top-panel__contacts-item--address">Санкт-Петербург, Дегтярная ул., 1</li>
        </ul>
      </div>
    </section>
    <!-- header-->
    <header class="header">
      <div class="section__container header__container">
        <nav class="main-menu">
          <ul class="main-menu__list main-menu__list--left">
            <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
            <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
          </ul><a href="index.html" class="main-menu__logo"></a>
          <div id="openMenu" data-open="false" class="menu__btn"><span></span><span></span><span></span></div>
          <ul class="main-menu__list main-menu__list--right">
            <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
            <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
            <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
            <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <ul id="mobileMenu" class="main-menu__list main-menu__list--tablet">
            <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
            <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
            <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
            <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
            <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
            <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <!-- partners-->
      <div class="partners">
        <div class="section__container partners__container">
          <h2 class="section__title partners__title">Партнёры</h2>
          <div class="partners__wrapper">
            <ul class="partners__logo-list">
              <li class="partners__item"><img src="images/tefal.png" alt=""></li>
              <li class="partners__item"><img src="images/moulinex.png" alt=""></li>
              <li class="partners__item"><img src="images/kasumi.png" alt=""></li>
              <li class="partners__item"><img src="images/italica.png" alt=""></li>
              <li class="partners__item"><img src="images/sesh.png" alt=""></li>
              <li class="partners__item"><img src="images/food-and-wine.png" alt=""></li>
              <li class="partners__item"><img src="images/redio-monte-carlo.png" alt=""></li>
              <li class="partners__item"><img src="images/resto.png" alt=""></li>
              <li class="partners__item"><img src="images/barilla.png" alt=""></li>
              <li class="partners__item"><img src="images/delonghi.png" alt=""></li>
              <li class="partners__item"><img src="images/kenwood.png" alt=""></li>
              <li class="partners__item"><img src="images/smeg.png" alt=""></li>
            </ul>
            <div class="partners__content">
              <h3 class="section__text partners__subtitle">Плюсы сотрудничества</h3>
              <p class="section__text partners__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              <h3 class="section__text partners__subtitle">Хотите стать нашим партнёром?</h3>
              <form class="partners__form">
                <input type="text" placeholder="Имя" class="partners__input">
                <input type="tel" placeholder="Телефон" class="partners__input">
                <input type="submit" value="Да, начать сотрудничать" class="btn partners__submit">
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- about-partners-->
      <div class="about-partners">
        <div class="section__container about-partners__container">
          <h2 class="section__subtitle about-partners__title">Подобнее о наших партнёрах</h2>
          <ul class="about-partners__list">
            <li class="about-partners__item">
              <div class="about-partners__image"><img src="images/tefal.png" alt=""></div>
              <div class="about-partners__content">
                <h3 class="section__text about-partners__subtitle">Tefal</h3>
                <p class="section__text section__text--small about-partners__text">Всемирно известная французская марка, которая является основоположником  и признанным лидером в производстве посуды с антипригарным покрытием. История успеха компании началась в 1954 году, когда специалисты Tefal изобрели сковороду с антипригарным покрытием, создав тем самым абсолютно новую категорию посуды. Это стало первым шагом на пути постоянного развития, усовершенствований и творческих идей Tefal.   На сегодняшний день более 1 миллиарда сковород Tefal заняли достойное место на кухнях хозяек всего мира.</p>
              </div>
            </li>
            <li class="about-partners__item">
              <div class="about-partners__image"><img src="images/moulinex.png" alt=""></div>
              <div class="about-partners__content">
                <h3 class="section__text about-partners__subtitle">Moulinex</h3>
                <p class="section__text section__text--small about-partners__text">французская торговая марка, основанная в 1937 году, под которой  производятся приборы для кухни. С 2001 года она является является собственностью Groupe SEB. Наряду с маркой Moulinex  Groupe SEB выпускает и продает продукцию таких брендов, как Rowenta, Tefal, Krups в 120 странах мира и является международным лидером на рынке малой бытовой техники.</p>
              </div>
            </li>
            <li class="about-partners__item">
              <div class="about-partners__image"><img src="images/kasumi.png" alt=""></div>
              <div class="about-partners__content">
                <h3 class="section__text about-partners__subtitle">KASUMI</h3>
                <p class="section__text section__text--small about-partners__text">Сеть магазинов японских ножей для кухни, туризма и охоты, а также  галереи современного японского дизайна. KASUMI является эксклюзивным представителем признанных японских ножевых брендов: Kasumi, Masahiro, Mcusta, Hattori, Kiku Knives, японского бренда художественного стекла Sugahara, североамериканской студии премиальных аксессуаров William Henry Studio, а также производителей эксклюзивных ручек и решений для письма Platinum Pen (Япония) и Kynsey (Испания).</p>
              </div>
            </li>
            <li class="about-partners__item">
              <div class="about-partners__image"><img src="images/italica.png" alt=""></div>
              <div class="about-partners__content">
                <h3 class="section__text about-partners__subtitle">Центр итальянского языка Italica</h3>
                <p class="section__text section__text--small about-partners__text">Главная задача Центра Italica - качественное и эффективное обучение итальянскому языку. Грамотное применение европейской коммуникативной методики и талантливая работа профессиональных преподавателей-носителей языка из Италии, а также современные учебные материалы – вот секрет успеха наших учеников. Если ты выбираешь эффективность – тебе к нам!</p>
              </div>
            </li>
            <li class="about-partners__item">
              <div class="about-partners__image"><img src="images/delonghi.png" alt=""></div>
              <div class="about-partners__content">
                <h3 class="section__text about-partners__subtitle">De'Longhi</h3>
                <p class="section__text section__text--small about-partners__text">Компания De'Longhi  является лидером в производстве и продажах мелкой бытовой техники в мире, работающая в следующих категориях: кофемашины, техника для обогрева, кондиционирования, техника для кухни. В нашем портфеле присутствует бренды Delonghi, Kenwood, Braun и Ariette.</p>
              </div>
            </li>
            <li class="about-partners__item">
              <div class="about-partners__image about-partners__image--small"><img src="images/sesh.png" alt=""></div>
              <div class="about-partners__content">
                <h3 class="section__text about-partners__subtitle">S`esh</h3>
                <p class="section__text section__text--small about-partners__text">S’esh – это интернет-сервис традиционных сладостей со всех уголков нашего необъятного Мира. Восточные и американские, французские и итальянские, турецкие и индийские, японские и многие другие – попробуйте весь мир на вкус.</p>
              </div>
            </li>
            <li class="about-partners__item">
              <div class="about-partners__image"><img src="images/smeg.png" alt=""></div>
              <div class="about-partners__content">
                <h3 class="section__text about-partners__subtitle">Smeg</h3>
                <p class="section__text section__text--small about-partners__text">Smeg – это итальянский производитель бытовой техники, головной офис которого находится в городе Гуасталла на севере Италии в провинции Реджио Эмилья. За рубежом Smeg представлен 15-ю филиалами (Великобритания, Франция, Бельгия, Нидерланды, Германия, Швеция, Дания, Испания, Португалия, Россия, Украина, Казахстан, ЮАР, США и Австралия), представительствами в Гонконге и Саудовской Аравии и обширной сетью дистрибьюторов.</p>
              </div>
            </li>
            <li class="about-partners__item">
              <div class="about-partners__image about-partners__image--small"><img src="images/food-and-wine.png" alt=""></div>
              <div class="about-partners__content">
                <h3 class="section__text about-partners__subtitle">Центр итальянского языка Italica</h3>
                <p class="section__text section__text--small about-partners__text">Главная задача Центра Italica - качественное и эффективное обучение итальянскому языку. Грамотное применение европейской коммуникативной методики и талантливая работа профессиональных преподавателей-носителей языка из Италии, а также современные учебные материалы – вот секрет успеха наших учеников. Если ты выбираешь эффективность – тебе к нам!</p>
              </div>
            </li>
            <li class="about-partners__item">
              <div class="about-partners__image"><img src="images/barilla.png" alt=""></div>
              <div class="about-partners__content">
                <h3 class="section__text about-partners__subtitle">Barilla G.&R. Fratelli S.p.A.</h3>
                <p class="section__text section__text--small about-partners__text">Компания Barilla была основана более ста лет назад, в 1877 году. Сегодня Barilla является лидером по продажам пасты во всем мире, с экспортом в более чем 125 странах мира. Помимо пасты, Barilla лидирует по продажам соусов для пасты в Европе, хлебобулочных изделий в Италии и по продажам хрустящего хлеба в странах Северной Европы. Сегодня компании Barilla принадлежит 27 производственных площадок (14 в Италии и 13 за ее пределами)</p>
              </div>
            </li>
            <li class="about-partners__item">
              <div class="about-partners__image about-partners__image--offer"></div>
              <div class="about-partners__content">
                <h3 class="section__text about-partners__subtitle">Хотите стать нашим партнёром?</h3>
                <form class="partners__form">
                  <input type="text" placeholder="Имя" class="partners__input">
                  <input type="tel" placeholder="Телефон" class="partners__input">
                  <input type="submit" value="Да, начать сотрудничать" class="btn partners__submit">
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <!-- footer-->
    <div class="footer">
      <div class="section__container footer__container">
        <div class="footer__logo"></div>
        <nav class="footer__menu">
          <ul class="footer__list">
            <li class="footer__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="footer__item"><a href="celebration.html" class="active">Праздники и корпоративы</a></li>
            <li class="footer__item"><a href="about.html">О школе и поварах</a></li>
            <li class="footer__item"><a href="gallery.html">Галерея</a></li>
            <li class="footer__item"><a href="partners.html">Партнёры</a></li>
            <li class="footer__item"><a href="blog.html">Блог шеф-повара</a></li>
            <li class="footer__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <ul class="footer__labels">
            <li class="footer__labels-item">Copyright © 2015 GUSTOMAESTRO</li>
            <li class="footer__labels-item">Сделано в Astralite</li>
          </ul>
        </nav>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><!-- build:js -->
    <script src="js/util.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/main.js"></script><!-- endbuild -->
  </body>
</html>
