wp-content/themes/gustomaestro/src/workshop.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>&quot;Богатство Средиземноморья&quot; c Фабрицио Фатуччи | GUSTOMAESTRO</title>
    <meta name="description" content="">
    <meta name="application-name" content="True">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <link rel="apple-touch-icon" href="img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/touch-icon-ipad-retina.png">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css"><!-- build:css -->
    <link rel="stylesheet" href="css/main.css"><!-- endbuild -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body><!--[if IE 8]>
    <p>Вы используете <strong>устаревшую версию</strong> браузера. Пожалуйста, <a href="http://browsehappy.com/">обновите браузер</a> на официальном сайте, чтобы просматривать полную версию сайта.</p><![endif]-->
    <!-- top-panel-->
    <section class="top-panel">
      <div class="section__container top-panel__container">
        <ul class="top-panel__social-list">
          <li class="top-panel__social-item"><a target="_blank" href="http://www.gustomaestro.ru/feed.php" class="top-panel__social-item--rss"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://vk.com/gustomaestro" class="top-panel__social-item--vk"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://www.facebook.com/gustospb?ref=hl" class="top-panel__social-item--facebook"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://www.instagram.com/gustorestaurant/" class="top-panel__social-item--instagram"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="http://goo.gl/Ra2iEb" class="top-panel__social-item--tripadvisor"></a></li>
          <li class="top-panel__social-item"><a target="_blank" href="https://goo.gl/WMmoKW" class="top-panel__social-item--foursquare"></a></li>
        </ul>
        <ul class="section__text section__text--small top-panel__contacts-list">
          <li class="top-panel__contacts-item top-panel__contacts-item--phone"><a target="_blank" href="tel:78129033732">(812) 903 37 32</a></li>
          <li class="top-panel__contacts-item top-panel__contacts-item--address">Санкт-Петербург, Дегтярная ул., 1</li>
        </ul>
      </div>
    </section>
    <!-- header-->
    <header class="header">
      <div class="section__container header__container">
        <nav class="main-menu">
          <ul class="main-menu__list main-menu__list--left">
            <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
            <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
          </ul><a href="index.html" class="main-menu__logo"></a>
          <div id="openMenu" data-open="false" class="menu__btn"><span></span><span></span><span></span></div>
          <ul class="main-menu__list main-menu__list--right">
            <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
            <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
            <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
            <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <ul id="mobileMenu" class="main-menu__list main-menu__list--tablet">
            <li class="main-menu__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="main-menu__item"><a href="celebration.html">Праздники и корпоративы</a></li>
            <li class="main-menu__item"><a href="about.html" class="active">О школе и поварах</a></li>
            <li class="main-menu__item"><a href="gallery.html">Галерея</a></li>
            <li class="main-menu__item"><a href="partners.html">Партнёры</a></li>
            <li class="main-menu__item"><a href="blog.html">Блог Фабрицио Фатуччи</a></li>
            <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <!-- breadcrumbs-->
      <div class="breadcrumbs breadcrumbs--mc-promo">
        <div class="section__container breadcrumbs__container">
          <ul class="section__text section__text--small breadcrumbs__list">
            <li class="breadcrumbs__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="breadcrumbs__item">></li>
            <li class="breadcrumbs__item active">"Богатство Средиземноморья"</li>
          </ul>
        </div>
      </div>
      <!-- mc-promo-->
      <div class="mc-promo">
        <div class="section__container mc-promo__container">
          <div class="mc-promo__wrapper mc-promo__wrapper--left">
            <h2 class="section__subtitle mc-promo__title mc-promo__title--to-left">Богатство Средиземноморья" c Фабрицио Фатуччи</h2>
            <div class="mc-promo__info">
              <ul class="section__text mc-promo__info-list">
                <li class="mc-promo__info-item">Чт <span class="mc-promo__info-item--marked">24 Ноября 2015</span></li>
                <li class="mc-promo__info-item"><span class="mc-promo__info-item--marked">в 19:00</span></li>
                <li class="mc-promo__info-item"><span class="mc-promo__info-item--marked">Продолжительность 3 часа</span></li>
                <li class="mc-promo__info-item"><span class="mc-promo__info-item--marked mc-promo__info-item--bold">5000 руб.</span></li>
              </ul>
            </div>
            <div class="mc-promo__image"><img src="images/mk__promo.jpg" alt=""></div>
          </div>
          <div class="mc-promo__wrapper mc-promo__wrapper--right">
            <h2 class="section__subtitle mc-promo__title">Приготовим</h2>
            <ol class="section__text mc-promo__cook-list">
              <li class="mc-promo__cook-item">Средиземноморский суп с кавателли (вид пасты), мидиями, белой фасолью и пекорино</li>
              <li class="mc-promo__cook-item">Спагетти с гребешками, чернилами каракатицы, томатами и чили</li>
              <li class="mc-promo__cook-item">Осьминог с пармантье из тоинамбура</li>
            </ol>
            <p class="section__text mc-promo__cooker">Шеф - <a href="chief.html" class="link">Фабрицио Фаттучи</a> <span class="section__text section__text--small mc-promo__kitchen">Итальянская кухня</span></p>
            <p class="section__text section__text--medium mc-promo__billet-left">Осталось 3 места</p><a href="#" data-toggle="modal" data-target="#modalWorkshopOrder" class="btn btn--large mc-promo__btn">Записаться и оплатить</a>
          </div>
        </div>
        <div class="section__container">
          <!-- share-->
          <div class="share"><span class="section__text share__title">Поделиться:</span>
            <ul class="share__list">
              <li class="share__item"><a href="#" class="share__item--facebook">Facebook</a></li>
              <li class="share__item"><a href="#" class="share__item--twitter">Twitter</a></li>
              <li class="share__item"><a href="#" class="share__item--mail">Мой мир</a></li>
              <li class="share__item"><a href="#" class="share__item--vk">Вконтакте</a></li>
              <li class="share__item"><a href="#" class="share__item--google">Google+</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- advantages-->
      <section class="advantages advantages--less-padding">
        <div class="section__container advantages__container">
          <h3 class="section__subtitle advantages__title advantages__title--less-padding">Как проходят мастер-классы</h3>
          <ul class="advantages__list">
            <li class="advantages__item">
              <div class="advantages__image advantages__image--chief"></div>
              <p class="section__text advantages__text">Каждый гость полностью участвует в приготовлении своего блюда, минуя при этом процессы заготовки продуктов</p>
            </li>
            <li class="advantages__item">
              <div class="advantages__image advantages__image--dish"></div>
              <p class="section__text advantages__text">Можно заказывать еду и напитки в ресторане GUSTO. На мастер-классе работают официанты</p>
            </li>
            <li class="advantages__item">
              <div class="advantages__image advantages__image--plate"></div>
              <p class="section__text advantages__text">Высокое техническое оснащение: итальянская техника SMEG, фарфор ЛФЗ, посуда Villeroy&Boch</p>
            </li>
          </ul>
        </div>
      </section>
      <!-- gallery-->
      <div class="gallery">
        <div class="section__container gallery__container">
          <h2 class="section__subtitle gallery__title">Как проходят корпоративы и личные праздники</h2>
          <div class="gallery__wrapper">
            <ul class="gallery__list">
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery1.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery2.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery3.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery4.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery5.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery6.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery7.jpg" alt=""></div></a></li>
              <li class="gallery__item"><a href="#">
                  <div class="gallery__image"><img src="images/mk__gallery8.jpg" alt=""></div></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- mc-preview-->
      <div class="mc-preview">
        <div class="section__container mc-preview__container">
          <h3 class="section__subtitle mc-preview__title">Рекомендуемые мастер-классы</h3>
          <ul class="mc-preview__list">
            <li class="mc-preview__item">
              <h4 class="section__text section__text--medium mc-preview__subtitle">Viva Italia. Горячий Хэллоуин с Фабрицио Фатуччи</h4>
              <div class="mc-preview__image mc-preview__image--bg"><img src="images/mk__preview--viva.jpg"><a href="#" class="btn mc-preview__btn mc-preview__btn--more">Подробнее</a><a href="#" class="btn mc-preview__btn mc-preview__btn--enroll">Записаться</a></div>
              <div class="mc-preview__content">
                <div class="mc-preview__recipe"><span class="section__text section__text--small mc-preview__recipe-title">Приготовим:</span>
                  <ol class="section__text section__text--small mc-preview__recipe-list">
                    <li class="mc-preview__recipe-item">Капуччино из тыквы с трюфелем</li>
                    <li class="mc-preview__recipe-item">Карпаччо из тыквы с креветками и руколой</li>
                    <li class="mc-preview__recipe-item">Сладкое тыквенное печенье</li>
                  </ol>
                </div>
              </div>
              <div class="mc-preview__info">
                <ul class="section__text section__text--medium mc-preview__info-list">
                  <li class="mc-preview__info-item">Чт <span class="mc-preview__info-item--marked">17 Ноября 2015</span></li>
                  <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked">в 19:00</span></li>
                  <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked mc-preview__info-item--bold">3700 руб.</span></li>
                </ul>
              </div>
            </li>
            <li class="mc-preview__item">
              <h4 class="section__text section__text--medium mc-preview__subtitle">Апельсиновый рай с Нико ди Мауро</h4>
              <div class="mc-preview__image mc-preview__image--bg"><img src="images/mk__preview--orange.jpg"><a href="#" class="btn mc-preview__btn mc-preview__btn--more">Подробнее</a><a href="#" class="btn mc-preview__btn mc-preview__btn--enroll">Записаться</a></div>
              <div class="mc-preview__content">
                <div class="mc-preview__recipe"><span class="section__text section__text--small mc-preview__recipe-title">Приготовим:</span>
                  <ol class="section__text section__text--small mc-preview__recipe-list">
                    <li class="mc-preview__recipe-item">Паста с апельсинами</li>
                    <li class="mc-preview__recipe-item">Свиная грудинка с апельсином и корицей</li>
                    <li class="mc-preview__recipe-item">Апельсиновый мусс</li>
                  </ol>
                </div>
              </div>
              <div class="mc-preview__info">
                <ul class="section__text section__text--medium mc-preview__info-list">
                  <li class="mc-preview__info-item">Чт <span class="mc-preview__info-item--marked">25 Ноября 2015</span></li>
                  <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked">в 19:00</span></li>
                  <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked mc-preview__info-item--bold">4500 руб.</span></li>
                </ul>
              </div>
              <li class="mc-preview__item">
                <h4 class="section__text section__text--medium mc-preview__subtitle">"Богатство Средиземноморья" с Фабрицио Фатуччи</h4>
                <div class="mc-preview__image mc-preview__image--bg"><img src="images/mk__preview--borscht.jpg"><a href="#" class="btn mc-preview__btn mc-preview__btn--more">Подробнее</a><a href="#" class="btn mc-preview__btn mc-preview__btn--enroll">Записаться</a></div>
                <div class="mc-preview__content">
                  <div class="mc-preview__recipe"><span class="section__text section__text--small mc-preview__recipe-title">Приготовим:</span>
                    <ol class="section__text section__text--small mc-preview__recipe-list">
                      <li class="mc-preview__recipe-item">Средиземноморский суп с кавателли мидиями, белой фасолью и пекорино</li>
                      <li class="mc-preview__recipe-item">Спагетти с гребешками, чернилами каракатицы, томатами и чили</li>
                      <li class="mc-preview__recipe-item">Осьминог с пармантье из тоинамбура</li>
                    </ol>
                  </div>
                </div>
                <div class="mc-preview__info">
                  <ul class="section__text section__text--medium mc-preview__info-list">
                    <li class="mc-preview__info-item">Чт <span class="mc-preview__info-item--marked">30 Ноября 2015</span></li>
                    <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked">в 19:00</span></li>
                    <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked mc-preview__info-item--bold">5000 руб.</span></li>
                  </ul>
                </div>
              </li>
            </li>
          </ul>
        </div>
      </div>
      <div id="modalWorkshopOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
        <div role="document" class="modal-dialog">
          <div class="modal-content">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
              <h2 class="section__subtitle modal__title">Записаться на мастер класс</h2>
              <h3 class="section__text modal__subtitle">"Богатство Средиземноморья" с Фабрицио Фатуччи</h3>
              <div class="modal__info">
                <ul class="section__text modal__info-list">
                  <li class="modal__info-item">Чт <span class="modal__info-item--marked">17 Ноября 2015</span></li>
                  <li class="modal__info-item"><span class="modal__info-item--marked">в 19:00</span></li>
                  <li class="modal__info-item"><span id="currentPrice" class="modal__info-item--marked modal__info-item--bold">3700 руб.</span></li>
                </ul>
                <div class="modal__info-check">
                  <div class="modal__left-side">
                    <p class="section__text section__text--small modal__check-title">Количество участников</p>
                  </div>
                  <div class="modal__right-side">
                    <div class="modal__choise-list"><span id="minusPerson" class="modal__choise modal__choise--minus"></span>
                      <input id="personResult" type="text" value="2" class="modal__choise modal__choise--number"><span id="plusPerson" class="modal__choise modal__choise--plus"></span>
                    </div>
                    <p class="section__text section__text--small modal__billet-left">Осталось <span id="billetLeft">3 </span> места</p>
                  </div>
                </div>
                <div class="modal__info-check modal__info-check--big-padding-bottom">
                  <div class="modal__left-side">
                    <p class="section__text section__text--small modal__check-title">Итого оплатить</p>
                  </div>
                  <div class="modal__right-side"><span id="resultPrice" class="section__text section__text--bold modal__result">7400 руб.</span></div>
                </div>
                <form id="formOrder" class="modal__form">
                  <input type="text" name="name" placeholder="Имя и Фамилия" class="modal__input">
                  <input type="tel" name="tel" placeholder="Телефон" class="modal__input">
                  <input type="text" name="email" placeholder="E-mail" class="modal__input">
                  <input type="submit" value="Записаться и оплатить" class="btn modal__submit">
                  <p class="section__text section__text--small modal__text--explain">После нажатия на кнопку «Записаться и оплатить» вы будете перенаправлены на страницу оплаты ЯНДЕКС.КАССЫ. После оплаты отправим электронные билеты на указанный email.</p>
                </form>
                <h3 class="section__text section__text--bold section__text--serif modal__subtitle--big-padding">У меня есть сертификат</h3>
                <form id="formCertificate" class="modal__form">
                  <input type="text" placeholder="Номер сертификата" class="modal__input">
                  <input type="submit" value="Записаться" class="btn modal__submit">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- contacts-->
      <div class="contacts">
        <div class="contacts__map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.1122120570753!2d30.367897016222162!3d59.93028016973474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631bbf5f15f89%3A0x906cc43464858c52!2z0JTQtdCz0YLRj9GA0L3QsNGPINGD0LsuLCAxLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMDM2!5e0!3m2!1sru!2sru!4v1468303020570" width="800" height="410" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="contacts__content">
          <h2 class="section__title contacts__title">Как нас найти</h2><span class="section__text contacts__span">Санкт-Петербург, Дегтярная ул., 1</span><span class="section__text contacts__span">(812) 903 37 32</span>
          <p class="section__text section__text--small contacts__text">Наши гости могут припарковаться во внутреннем дворе ресторана. Въезд во двор расположен перед зданием ресторана от Невского пр. При въезде во двор, пожалуйста, позвоните по телефону (812) 941 17 44</p>
          <ul class="contacts__social-list">
            <li class="contacts__social-item"><a target="_blank" href="http://www.gustomaestro.ru/feed.php" class="contacts__social-item--rss"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://vk.com/gustomaestro" class="contacts__social-item--vk"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://www.facebook.com/gustospb?ref=hl" class="contacts__social-item--facebook"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://www.instagram.com/gustorestaurant/" class="contacts__social-item--instagram"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="http://goo.gl/Ra2iEb" class="contacts__social-item--tripadvisor"></a></li>
            <li class="contacts__social-item"><a target="_blank" href="https://goo.gl/WMmoKW" class="contacts__social-item--foursquare"></a></li>
          </ul>
        </div>
      </div>
    </main>
    <!-- footer-->
    <div class="footer">
      <div class="section__container footer__container">
        <div class="footer__logo"></div>
        <nav class="footer__menu">
          <ul class="footer__list">
            <li class="footer__item"><a href="workshops.html">Мастер-классы</a></li>
            <li class="footer__item"><a href="celebration.html" class="active">Праздники и корпоративы</a></li>
            <li class="footer__item"><a href="about.html">О школе и поварах</a></li>
            <li class="footer__item"><a href="gallery.html">Галерея</a></li>
            <li class="footer__item"><a href="partners.html">Партнёры</a></li>
            <li class="footer__item"><a href="blog.html">Блог шеф-повара</a></li>
            <li class="footer__item"><a href="contacts.html">Контакты</a></li>
          </ul>
          <ul class="footer__labels">
            <li class="footer__labels-item">Copyright © 2015 GUSTOMAESTRO</li>
            <li class="footer__labels-item">Сделано в Astralite</li>
          </ul>
        </nav>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><!-- build:js -->
    <script src="js/util.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/main.js"></script><!-- endbuild -->
  </body>
</html>

wp-content/themes/gustomaestro/src/workshop.jade
doctype html
html(lang="ru")
  - title = "\"Богатство Средиземноморья\" c Фабрицио Фатуччи | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main
      // breadcrumbs
      .breadcrumbs.breadcrumbs--mc-promo
        .section__container.breadcrumbs__container
          ul.section__text.section__text--small.breadcrumbs__list
            li.breadcrumbs__item: a(href="workshops.html") Мастер-классы
            li.breadcrumbs__item >
            li.breadcrumbs__item.active "Богатство Средиземноморья"

      // mc-promo
      .mc-promo
        .section__container.mc-promo__container
          .mc-promo__wrapper.mc-promo__wrapper--left
            h2.section__subtitle.mc-promo__title.mc-promo__title--to-left Богатство Средиземноморья" c Фабрицио Фатуччи
            .mc-promo__info
              ul.section__text.mc-promo__info-list
                  li.mc-promo__info-item Чт #[span.mc-promo__info-item--marked 24 Ноября 2015]
                  li.mc-promo__info-item #[span.mc-promo__info-item--marked в 19:00]
                  li.mc-promo__info-item #[span.mc-promo__info-item--marked Продолжительность 3 часа]
                  li.mc-promo__info-item #[span.mc-promo__info-item--marked.mc-promo__info-item--bold 5000 руб.]
            .mc-promo__image
              img(src="images/mk__promo.jpg", alt="")
          .mc-promo__wrapper.mc-promo__wrapper--right
            h2.section__subtitle.mc-promo__title Приготовим
            ol.section__text.mc-promo__cook-list
              li.mc-promo__cook-item Средиземноморский суп с кавателли (вид пасты), мидиями, белой фасолью и пекорино
              li.mc-promo__cook-item Спагетти с гребешками, чернилами каракатицы, томатами и чили
              li.mc-promo__cook-item Осьминог с пармантье из тоинамбура
            p.section__text.mc-promo__cooker Шеф - #[a.link(href="chief.html") Фабрицио Фаттучи] #[span.section__text.section__text--small.mc-promo__kitchen Итальянская кухня]
            p.section__text.section__text--medium.mc-promo__billet-left Осталось 3 места
            a.btn.btn--large.mc-promo__btn(href="#", data-toggle="modal", data-target="#modalWorkshopOrder") Записаться и оплатить

        .section__container
          // share
          .share
            span.section__text.share__title Поделиться:
            ul.share__list
              li.share__item
                a.share__item--facebook(href="#") Facebook
              li.share__item
                a.share__item--twitter(href="#") Twitter
              li.share__item
                a.share__item--mail(href="#") Мой мир
              li.share__item
                a.share__item--vk(href="#") Вконтакте
              li.share__item
                a.share__item--google(href="#") Google+

      - advantagesTitle = true
      include blocks/advantages/advantages

      // gallery
      .gallery
        .section__container.gallery__container
          h2.section__subtitle.gallery__title Как проходят корпоративы и личные праздники
          .gallery__wrapper
            ul.gallery__list
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery1.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery2.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery3.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery4.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery5.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery6.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery7.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery8.jpg", alt="")

      // mc-preview
      .mc-preview
        .section__container.mc-preview__container
          h3.section__subtitle.mc-preview__title Рекомендуемые мастер-классы
          ul.mc-preview__list
            li.mc-preview__item
              h4.section__text.section__text--medium.mc-preview__subtitle Viva Italia. Горячий Хэллоуин с Фабрицио Фатуччи
              .mc-preview__image.mc-preview__image--bg
                img(src="images/mk__preview--viva.jpg")
                a.btn.mc-preview__btn.mc-preview__btn--more(href="#") Подробнее
                a.btn.mc-preview__btn.mc-preview__btn--enroll(href="#") Записаться
              .mc-preview__content
                .mc-preview__recipe
                  span.section__text.section__text--small.mc-preview__recipe-title Приготовим:
                  ol.section__text.section__text--small.mc-preview__recipe-list
                    li.mc-preview__recipe-item Капуччино из тыквы с трюфелем
                    li.mc-preview__recipe-item Карпаччо из тыквы с креветками и руколой
                    li.mc-preview__recipe-item Сладкое тыквенное печенье
              .mc-preview__info
                ul.section__text.section__text--medium.mc-preview__info-list
                  li.mc-preview__info-item Чт #[span.mc-preview__info-item--marked 17 Ноября 2015]
                  li.mc-preview__info-item #[span.mc-preview__info-item--marked в 19:00]
                  li.mc-preview__info-item #[span.mc-preview__info-item--marked.mc-preview__info-item--bold 3700 руб.]
            li.mc-preview__item
              h4.section__text.section__text--medium.mc-preview__subtitle Апельсиновый рай с Нико ди Мауро
              .mc-preview__image.mc-preview__image--bg
                img(src="images/mk__preview--orange.jpg")
                a.btn.mc-preview__btn.mc-preview__btn--more(href="#") Подробнее
                a.btn.mc-preview__btn.mc-preview__btn--enroll(href="#") Записаться
              .mc-preview__content
                .mc-preview__recipe
                  span.section__text.section__text--small.mc-preview__recipe-title Приготовим:
                  ol.section__text.section__text--small.mc-preview__recipe-list
                    li.mc-preview__recipe-item Паста с апельсинами
                    li.mc-preview__recipe-item Свиная грудинка с апельсином и корицей
                    li.mc-preview__recipe-item Апельсиновый мусс
              .mc-preview__info
                ul.section__text.section__text--medium.mc-preview__info-list
                  li.mc-preview__info-item Чт #[span.mc-preview__info-item--marked 25 Ноября 2015]
                  li.mc-preview__info-item #[span.mc-preview__info-item--marked в 19:00]
                  li.mc-preview__info-item #[span.mc-preview__info-item--marked.mc-preview__info-item--bold 4500 руб.]
              li.mc-preview__item
                h4.section__text.section__text--medium.mc-preview__subtitle "Богатство Средиземноморья" с Фабрицио Фатуччи
                .mc-preview__image.mc-preview__image--bg
                  img(src="images/mk__preview--borscht.jpg")
                  a.btn.mc-preview__btn.mc-preview__btn--more(href="#") Подробнее
                  a.btn.mc-preview__btn.mc-preview__btn--enroll(href="#") Записаться
                .mc-preview__content
                  .mc-preview__recipe
                    span.section__text.section__text--small.mc-preview__recipe-title Приготовим:
                    ol.section__text.section__text--small.mc-preview__recipe-list
                      li.mc-preview__recipe-item Средиземноморский суп с кавателли мидиями, белой фасолью и пекорино
                      li.mc-preview__recipe-item Спагетти с гребешками, чернилами каракатицы, томатами и чили
                      li.mc-preview__recipe-item Осьминог с пармантье из тоинамбура
                .mc-preview__info
                  ul.section__text.section__text--medium.mc-preview__info-list
                    li.mc-preview__info-item Чт #[span.mc-preview__info-item--marked 30 Ноября 2015]
                    li.mc-preview__info-item #[span.mc-preview__info-item--marked в 19:00]
                    li.mc-preview__info-item #[span.mc-preview__info-item--marked.mc-preview__info-item--bold 5000 руб.]

      include blocks/modals/modal-workshop-deal

      include blocks/contacts/contacts
    include blocks/footer/footer
