wp-content/themes/gustomaestro/src/blocks/contacts/contacts.html

<!-- contacts-->
<div class="contacts">
  <div class="contacts__map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.1122120570753!2d30.367897016222162!3d59.93028016973474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631bbf5f15f89%3A0x906cc43464858c52!2z0JTQtdCz0YLRj9GA0L3QsNGPINGD0LsuLCAxLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMDM2!5e0!3m2!1sru!2sru!4v1468303020570" width="800" height="410" frameborder="0" style="border:0" allowfullscreen="allowfullscreen"></iframe>
  </div>
  <div class="contacts__content">
    <h2 class="section__title contacts__title">Как нас найти</h2><span class="section__text contacts__span">Санкт-Петербург, Дегтярная ул., 1</span><span class="section__text contacts__span">(812) 903 37 32</span>
    <p class="section__text section__text--small contacts__text">Наши гости могут припарковаться во внутреннем дворе ресторана. Въезд во двор расположен перед зданием ресторана от Невского пр. При въезде во двор, пожалуйста, позвоните по телефону (812) 941 17 44</p>
    <ul class="contacts__social-list">
      <li class="contacts__social-item"><a target="_blank" href="http://www.gustomaestro.ru/feed.php" class="contacts__social-item--rss"></a></li>
      <li class="contacts__social-item"><a target="_blank" href="https://vk.com/gustomaestro" class="contacts__social-item--vk"></a></li>
      <li class="contacts__social-item"><a target="_blank" href="https://www.facebook.com/gustospb?ref=hl" class="contacts__social-item--facebook"></a></li>
      <li class="contacts__social-item"><a target="_blank" href="https://www.instagram.com/gustorestaurant/" class="contacts__social-item--instagram"></a></li>
      <li class="contacts__social-item"><a target="_blank" href="http://goo.gl/Ra2iEb" class="contacts__social-item--tripadvisor"></a></li>
      <li class="contacts__social-item"><a target="_blank" href="https://goo.gl/WMmoKW" class="contacts__social-item--foursquare"></a></li>
    </ul>
  </div>
</div>

wp-content/themes/gustomaestro/src/blocks/contacts/contacts.jade
// contacts
.contacts
  .contacts__map
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.1122120570753!2d30.367897016222162!3d59.93028016973474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631bbf5f15f89%3A0x906cc43464858c52!2z0JTQtdCz0YLRj9GA0L3QsNGPINGD0LsuLCAxLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMDM2!5e0!3m2!1sru!2sru!4v1468303020570", width="800", height="410", frameborder="0", style="border:0",allowfullscreen)
  .contacts__content
    h2.section__title.contacts__title Как нас найти
    span.section__text.contacts__span Санкт-Петербург, Дегтярная ул., 1
    span.section__text.contacts__span (812) 903 37 32
    p.section__text.section__text--small.contacts__text Наши гости могут припарковаться во внутреннем дворе ресторана. Въезд во двор расположен перед зданием ресторана от Невского пр. При въезде во двор, пожалуйста, позвоните по телефону (812) 941 17 44
    ul.contacts__social-list
      li.contacts__social-item: a.contacts__social-item--rss(target="_blank", href="http://www.gustomaestro.ru/feed.php")
      li.contacts__social-item: a.contacts__social-item--vk(target="_blank", href="https://vk.com/gustomaestro")
      li.contacts__social-item: a.contacts__social-item--facebook(target="_blank", href="https://www.facebook.com/gustospb?ref=hl")
      li.contacts__social-item: a.contacts__social-item--instagram(target="_blank", href="https://www.instagram.com/gustorestaurant/")
      li.contacts__social-item: a.contacts__social-item--tripadvisor(target="_blank", href="http://goo.gl/Ra2iEb")
      li.contacts__social-item: a.contacts__social-item--foursquare(target="_blank", href="https://goo.gl/WMmoKW")
